<div class="products-dashboard">

  <div class="top-controls">
    <input type="text" placeholder="Buscar producto..." [(ngModel)]="searchQuery" class="search-bar" />
    <button class="add-product-btn" (click)="addProduct()" *ngIf="!createNewProduct">+ Nuevo Producto</button>
  </div>

  <div class="main-content">
    <div class="products-list" [ngClass]="{'full-grid': !selectedProduct}">
      <h2>Productos</h2>
      <div class="product-cards-list">
        <div *ngFor="let product of filteredProducts"
             class="product-card"
             (click)="showProductDetails(product)"
             [ngClass]="{'selected' : product === selectedProduct}">
          <div class="product-info">
            <h3 class="product-name">{{ product.name }}</h3>
            <p>Precio: {{ product.price | currency }}</p>
<!--            <p>Stock: {{ product.}}</p>-->
          </div>
        </div>
      </div>

      <div class="pagination">
        <button (click)="goToPage(1)">First</button>
        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
        <span *ngFor="let page of [currentPage-2, currentPage-1, currentPage, currentPage+1, currentPage+2]">
          <button *ngIf="page > 0 && page <= totalPages" (click)="goToPage(page)" [class.active]="page === currentPage">{{ page }}</button>
        </span>
        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
        <button (click)="goToPage(totalPages)">Last</button>
      </div>
    </div>

    <div class="product-details"  *ngIf="selectedProduct" [ngClass]="{'visible': selectedProduct}">
      <button class="close-btn" (click)="closeProductDetails()">X</button>
      <h2>Detalles de {{ selectedProduct?.name }}</h2>
      <div class="product-info-details">
        <p><strong>Precio:</strong> {{ selectedProduct?.price | currency }}</p>
<!--        <p><strong>Stock:</strong> {{ selectedProduct?.stock }}</p>-->
      </div>
      <!-- Aquí podrías agregar más detalles o acciones específicas para el producto -->
    </div>

    <div class="product-creation" *ngIf="createNewProduct">
<!--      <app-create-product></app-create-product>-->
    </div>
  </div>
</div>
