<div class="flash-sale-container">
  <div class="banner">
    <img src="assets/cyberpunk-2077-25-new-night-city-images_t8d1.jpg" alt="Flash Sale Banner" class="banner-img">
    <div class="offers-over-banner">
      <!-- Oferta principal en un cuadro vertical alineado a la izquierda -->
      <div class="main-offer">
        <div class="flash-sale-info">
          <!-- Cronómetro sobre la imagen -->
          <div class="timer">
            <div>
              <span>{{ hours }}</span>
              <div class="timer-label">Horas</div>
            </div>
            <div>
              <span>{{ minutes }}</span>
              <div class="timer-label">Minutos</div>
            </div>
            <div>
              <span>{{ seconds }}</span>
              <div class="timer-label">Segundos</div>
            </div>
          </div>
          <!-- Imagen principal -->
          <div class="flash-sale-img-container" *ngIf="giftCard as card">
            <img
              ngOptimizedImage
              [src]="card.images.cover.thumbnail"
              [alt]="card.name || 'Oferta Principal'"
              loading="lazy"
              decoding="async"
              width="300"
              height="400"
            >
          </div>

          <h2 class="flash-sale-title">{{ giftCard?.name }}</h2>

          <!-- Precio -->
          <div class="price-box">
            <p class="price-offer">{{giftCard?.price}} <span class="original-price">{{flashSale?.temporaryPrice}}</span> <span class="discount">-16%</span></p>
          </div>
          <!-- Información de stock -->
          <p class="stock-info">Quedan {{ itemsLeft }} - Vendido {{ totalSold }}</p>
          <!-- Barra de progreso -->
          <div class="progress-bar-container">
            <div class="progress-bar" [ngStyle]="{'width': (totalSold / totalStock * 100) + '%'}"></div>
          </div>
          <!-- Botones de acción -->
          <div class="buttons-container">
            <button class="buy-button">Comprar</button>
            <button class="cart-button">Carrito</button>
          </div>
        </div>
      </div>
      <!-- Otras ofertas al lado derecho -->
      <div class="other-offers">
        <div class="offer">
          <img src="https://www.vollversion-kaufen.de/tpl/images/produkte/RESTRICTEDVSBUTTERFLYKNIFERandomCS2SkinCaseDroplandnetKey.webp" alt="Oferta 1">
          <p>$11.79</p>
        </div>
        <div class="offer">
          <img src="https://images.g2a.com/300x400/1x1x1/counter-strike-2-random-restricted-skin-by-droplandnet-key-global-i10000033473001/a479619b55c440dab24f3aef" alt="Oferta 2">
          <p>$23.58</p>
        </div>
        <div class="offer">
          <img src="https://images.g2a.com/300x400/1x1x1/counter-strike-2-random-knife-skin-by-droplandnet-key-global-i10000033456002/647531668a214bc6825d43e8" alt="Oferta 3">
          <p>$22.28</p>
        </div>
        <div class="offer">
          <img src="https://images.g2a.com/170x228/1x1x0/wallet-gift-card-10-usd-by-droplandnet-key-global/5ccaa3995bafe348cb74bcd3" alt="Oferta 4">
          <p>$28.59</p>
        </div>
      </div>
    </div>
  </div>
</div>
