.change-password {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}

h3 {
  color: var(--highlight-color);
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: var(--text-color);
}

input[type="password"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--light-accent-color);
  background-color: var(--primary-color);
  color: var(--text-color);
  margin-bottom: 10px;
}

button {
  background-color: var(--highlight-color);
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: var(--accent-color);
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
