<div class="dashboard-summary">
  <!-- Tarjetas Resumen -->
  <div class="summary-cards">
    <!-- Ventas Totales -->
    <div class="summary-card">
      <div class="card-icon">
        <i class="fas fa-chart-line"></i>
      </div>
      <div class="card-content">
        <h3>Ventas Totales</h3>
        <p>{{ salesMetrics?.totalSalesCount }}</p>
      </div>
    </div>

    <!-- Ganancias Totales -->
    <div class="summary-card">
      <div class="card-icon">
        <i class="fas fa-dollar-sign"></i>
      </div>
      <div class="card-content">
        <h3>Ganancias</h3>
        <p>{{ salesMetrics?.totalProfit | currency }}</p>
      </div>
    </div>

    <!-- Número de Clientes -->
    <div class="summary-card">
      <div class="card-icon">
        <i class="fas fa-users"></i>
      </div>
      <div class="card-content">
        <h3>Número de Clientes</h3>
        <p>{{ totalCustomers }}</p>
      </div>
    </div>

    <!-- Transacciones Completadas -->
    <div class="summary-card">
      <div class="card-icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="card-content">
        <h3>Transacciones Completadas</h3>
        <p>{{ completedTransactions }}</p>
      </div>
    </div>

    <!-- Pedidos Pendientes -->
    <div class="summary-card">
      <div class="card-icon">
        <i class="fas fa-hourglass-half"></i>
      </div>
      <div class="card-content">
        <h3>Pedidos Pendientes</h3>
        <p>{{ pendingOrders }}</p>
      </div>
    </div>

    <!-- Productos en Inventario -->
    <div class="summary-card">
      <div class="card-icon">
        <i class="fa-solid fa-eye"></i>
      </div>
      <div class="card-content">
        <h3>Visitas</h3>
        <p>{{ visitCount }}</p>
      </div>
    </div>
  </div>

  <!-- Gráficos -->
  <div class="charts-section">
    <!-- Gráfico de Ventas Mensuales -->
    <div class="chart-container">
      <h3>Ventas Mensuales</h3>
      <canvas id="monthlySalesChart"></canvas>
    </div>

    <!-- Gráfico de Categorías más Vendidas -->
    <div class="chart-container">
      <h3>Categorías más Vendidas</h3>
      <canvas id="topCategoriesChart"></canvas>
    </div>
  </div>
</div>
