.gift-card-details-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
  margin: 20px auto;
  max-width: 80%;
}

.gift-card-image-container {
  flex: 1;
  max-width: 50%;
  background: #1c1c1c;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gift-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gift-card-info-card {
  flex: 0.2;
  background: #292929;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
}

.gift-card-title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.gift-card-region {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.check-icon {
  color: green;
  margin-right: 8px; /* Espacio entre el icono y el texto */
}


.gift-card-title, .gift-card-price {
  margin-bottom: 5px; /* Reduce el espacio debajo del título y el precio */
}


.gift-card-price {
  font-size: 3rem;
  color: #ffa500;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.add-info-content {
  padding: 20px;
  text-align: center;
}

.add-info-title {
  font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
  color: #fff;
  margin: 10px 0 5px;
}

.add-info-price {
  font-size: 1.25rem;
  color: #ffa500;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .highlight-card-image {
    height: 200px; /* Ajusta la altura de la imagen en pantallas más pequeñas */
  }

  .add-info-title {
    font-size: 1.2rem;
  }

  .add-info-price {
    font-size: 1rem;
  }
}


.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  margin-bottom: 4.7rem;
}

button {
  padding: 15px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  flex: 1;
}

.add-to-cart {
  background-color: #ff9500;
  color: #fff;
}

.add-to-cart:hover {
  background-color: #e68900;
}

.buy-now {
  background-color: #0069d9;
  color: #fff;
}

.buy-now:hover {
  background-color: #0056b3;
}

.back {
  background-color: #007bff;
  color: #fff;
}

.back:hover {
  background-color: #0069d9;
}
