<div class="graph-container">
  <canvas id="graphCanvas"></canvas>
</div>

<div class="gift-card-details-container">
  <div class="gift-card-image-container">
    <img
      [src]="selectedOption?.imageUrl || 'https://edge.rivalrycdn.com/cdn-cgi/image/q=100/https://images.prismic.io/rivalryglhf/Zo0YzB5LeNNTw7xf_FreeFireDiamonds.jpg?auto=format%2Ccompress&width=900'"
      alt="Free Fire Diamantes"
      class="gift-card-image"
    />
    <div class="feedback-section">
      <button class="wishlist-button" aria-label="Agregar a Wishlist">
        <span class="material-icons">favorite</span>
      </button>
    </div>
    <div class="platform-info">
      <h3>Plataformas</h3>
      <div class="platform-icons">
        <i class="fab fa-android"></i>
        <i class="fab fa-apple"></i>
      </div>
    </div>
  </div>

  <div class="gift-card-info-card">
    <h1 class="gift-card-title">Free Fire Diamantes</h1>
    <p *ngIf="selectedOption" class="gift-card-price">{{ selectedOption.price | currency: 'HNL. ' }}</p>

    <div class="options-section">
      <h3>Seleccione la opción de Diamantes:</h3>
      <div class="options-grid">
        <button
          class="option-button"
          *ngFor="let product of products"
          [class.selected]="selectedOption?.productId === product.productId"
          (click)="selectOption(product)"
        >
          {{ extractDiamonds(product.name) }} - {{ product.price + (product.price * 0.10) | currency: 'HNL. ' }}
        </button>
      </div>
    </div>

    <div class="user-inputs">
      <div class="input-group">
        <label for="userId">ID de Usuario:</label>
        <input
          id="userId"
          type="number"
        [(ngModel)]="gamerUserId"
        placeholder="Ingrese su ID de Usuario"
        />
        <div *ngIf="gamerUserIdError" style="color: red;">El ID de Usuario debe consistir de 7 números.</div>
      </div>
      <div class="input-group">
        <label for="userEmail">Email:</label>
        <input
          id="userEmail"
          type="email"
          [(ngModel)]="userEmail"
          placeholder="Ingrese su Email"
        />
      </div>
    </div>

    <div class="button-container">
      <button class="btn add-to-cart">
        <i class="material-icons">add_shopping_cart</i> Añadir al Carrito
      </button>
      <button class="btn buy-now" (click)="openPaymentModal()" [disabled]="gamerUserIdError">
        <i class="material-icons">shopping_bag</i> Comprar Ahora
      </button>
    </div>
  </div>
</div>

<!--<app-payment-options-->
<!--  *ngIf="isPaymentModalOpen"-->
<!--  (closeModal)="closePaymentModal()"-->
<!--  (paymentSelected)="onPaymentSelected($event)"-->
<!--&gt;</app-payment-options>-->

<!--<app-tigo-payment-->
<!--  [totalPrice]="selectedOption?.price || 0"-->
<!--  *ngIf="isTigoPaymentModalOpen"-->
<!--  [gameUserId]="gamerUserId"-->
<!--  [productId]="selectedOption?.productId ?? null"-->
<!--  (close)="closeTigoPaymentModal()">-->
<!--</app-tigo-payment>-->



<app-payment
  *ngIf="isPaymentModalOpen"
  (closeModal)="closePaymentModal()"
  [gameUserId]="gamerUserId"
  [productId]="selectedOption?.productId ?? null"
  [totalPrice]="selectedOption?.price || 0"
  [isManualTransaction]="true"
></app-payment>
