/* Estructura principal del dashboard */
.highlight-dashboard {
  padding: 20px;
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Barra de búsqueda y botón Guardar */
.search-save-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  flex-grow: 1;
  margin-right: 30rem;
}

.save-btn {
  padding: 12px 25px;
  background-color: #4CAF50; /* Verde más visible */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
  visibility: visible; /* Asegúrate de que sea visible */
}

.save-btn:hover {
  background-color: #43a047;
}

/* Panel izquierdo y derecho */
.main-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.left-panel, .right-panel {
  flex: 1;
  background-color: #2C3E50;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-panel h2, .right-panel h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: left;
}

/* Tarjetas de regalo */
.gift-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.gift-card {
  background-color: #34495e;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gift-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.gift-card-image-container {
  position: relative;
}

.gift-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.add-highlight-btn, .remove-highlight-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff9800;
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-highlight-btn:hover, .remove-highlight-btn:hover {
  background-color: #e67e22;
}

/* Contenido de la tarjeta */
.gift-card-content {
  padding: 15px;
  color: white;
  text-align: center;
}

.gift-card-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.gift-card-price {
  font-size: 16px;
  color: #ff9800;
  font-weight: bold;
}
