<!-- Footer -->
<footer [ngClass]="footerClass">
  <div class="footer-top">
    <div class="footer-container">

      <!-- Información de Contacto -->
      <div class="footer-section contact-info">
        <h3>Contact</h3>
        <p>Adelgundenstraße 25, Nürnberg</p>
        <p>+4917653747</p>
        <p>Email: <a >lalbertomurillo1996&#64;gmail.com</a></p>
      </div>

      <!-- Enlaces Útiles -->
      <div class="footer-section useful-links">
        <h3>Useful Links</h3>
        <ul>
          <li><a href="/acerca-de">About us</a></li>
          <li><a href="/terminos">Terms and conditions</a></li>
          <li><a href="/privacidad">Privacy Policy</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>

      <!-- Categorías de Productos -->
      <div class="footer-section product-categories">
        <h3>Categoríes</h3>
        <ul>
          <li><a href="/categoria1">Videogames</a></li>
          <li><a href="/categoria2">Software</a></li>
          <li><a href="/categoria3">Fashion</a></li>
          <li><a href="/categoria4">Utilities</a></li>
        </ul>
      </div>

      <!-- Redes Sociales -->
      <div class="footer-section social-media">
        <h3>Follow us</h3>
        <div class="social-icons">
          <a href="https://facebook.com" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook-f facebook"></i>
          </a>
          <a href="https://twitter.com" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter twitter"></i>
          </a>
          <a href="https://instagram.com" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram instagram"></i>
          </a>
          <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin-in linkedin"></i>
          </a>
        </div>
      </div>

      <!-- Suscripción al Boletín -->
      <div class="footer-section newsletter">
        <h3>Suscríbe</h3>
        <form class="newsletter-form">
          <input type="email" placeholder="Tu correo electrónico" required>
          <button type="submit">Suscribirse</button>
        </form>
      </div>

      <!-- Métodos de Pago -->
      <div class="footer-section payment-methods">
        <h3>Métodos de Pago</h3>
        <div class="payment-icons">
          <i class="fa-solid fa-credit-card credit-icon"></i>
          <i class="fa-brands fa-cc-paypal paypal-icon"></i>
          <i class="fa-solid fa-piggy-bank piggybank-icon"></i>
          <i class="fa-brands fa-bitcoin bitcoin-icon"></i>
          <!-- Añade más iconos según sea necesario -->
        </div>
      </div>

    </div>
  </div>

  <!-- Línea Divisoria Superior -->
  <div class="footer-divider"></div>

  <div class="footer-bottom">
    <p>&copy; 2024 Astralis. Todos los derechos reservados.</p>
  </div>
</footer>
