/* Estilo retro general */
body, html {
  font-family: 'Courier New', Courier, monospace;
  background-color: #0B0D19; /* Fondo oscuro */
  color: #88D66C; /* Verde claro */
}

/* Modal */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #1A2A40; /* Fondo retro oscuro */
  padding: 20px;
  border: 2px solid #1261A0; /* Borde azul */
  color: #E1E6F1; /* Texto claro */
  width: 320px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #E1E6F1; /* Color del icono de cierre */
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover {
  color: #FB773C; /* Naranja retro al pasar el cursor */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #FB773C; /* Título en naranja retro */
}

/* Inputs y botones */
.retro-input {
  width: 90%;
  padding: 10px;
  border: 2px solid #88D66C; /* Borde verde claro */
  background-color: #0B0D19; /* Fondo oscuro */
  color: #E1E6F1; /* Texto claro */
  margin-bottom: 15px;
  font-size: 1rem;
}

.retro-input:focus {
  border-color: #FB773C; /* Borde naranja al enfocar */
  outline: none;
}

.retro-button {
  width: 100%;
  padding: 12px;
  background-color: #1261A0; /* Fondo azul */
  border: 2px solid #1D4B8F; /* Borde azul oscuro */
  color: #E1E6F1; /* Texto claro */
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.retro-button:hover {
  background-color: #1D4B8F; /* Azul más oscuro en hover */
}

.confirmation {
  margin-top: 20px;
  background-color: #12223C; /* Fondo oscuro para la confirmación */
  padding: 15px;
  border-radius: 8px;
  color: #88D66C; /* Texto en verde claro */
  text-align: center;
}

/* Spinner */
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f; /* Azul brillante */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner-container p {
  font-size: 1rem;
  margin: 0;
  color: #88D66C;
}
