

<html lang="en">
<div class="graph-container">
  <canvas id="graphCanvas"></canvas>
<!--<div *ngIf="user" class="user-details-container">-->
<!--  <h2>{{ user.name }}</h2>-->
<!--  <p>Email: {{ user.email }}</p>-->
<!--  <p>Role: {{ user.role }}</p>-->
<!--  <p>Status: <span [ngClass]="{'active': user.enabled, 'inactive': !user.enabled}">{{ user.enabled ? 'Active' : 'Inactive' }}</span></p>-->
<!--</div>-->
  <div>
<!--    <app-settings [user]="user"></app-settings>-->
    <div *ngIf="user && user.role === 'ADMIN'">
      <app-admin-panel></app-admin-panel>


    </div>
  </div>


</div>
</html>
