body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  background-color: #0B0D19;
}

.graph-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#graphCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0B0D19; /* Fondo oscuro */
  padding: 20px;
  border: 2px solid #1261A0; /* Borde azul */
  border-radius: 8px;
  color: #E1E6F1; /* Texto claro */
  font-family: 'Courier New', Courier, monospace;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.user-details-container h2 {
  margin-bottom: 10px;
  color: #FB773C; /* Color naranja para el título */
  font-size: 1.5rem;
  text-transform: uppercase;
}

.user-details-container p {
  margin: 5px 0;
  color: #88D66C; /* Verde claro para el texto */
  font-size: 1rem;
}

.user-details-container .active {
  color: #88D66C; /* Verde claro para estado activo */
}

.user-details-container .inactive {
  color: #EB3678; /* Rojo para estado inactivo */
}


