<div class="user-dashboard">


  <main class="main-content">
    <div *ngIf="selectedSection === 'account-info'">
      <h2>{{ user.name }}</h2>
      <p>Saldo: {{ user.balance | currency:'USD' }}</p>
    </div>
    <div *ngIf="selectedSection === 'account-details'">
      <app-account-info></app-account-info>
    </div>
    <div *ngIf="selectedSection === 'change-password'">
      <app-change-password></app-change-password>
    </div>
    <div *ngIf="selectedSection === 'orders'">
      <app-orders [user]="user"></app-orders>
    </div>
    <div *ngIf="selectedSection === 'payment-methods'">
      <app-payment-methods></app-payment-methods>
    </div>
    <div *ngIf="selectedSection === 'admin-tools' && user.role === 'ADMIN'" class="admin-tools">
      <h2>Herramientas de Administrador</h2>
      <ul>
        <li>
          <a (click)="navigateToAdminPanel()">
            <i class="fas fa-tools"></i> Panel de Administración
          </a>
        </li>
        <!-- Puedes agregar más herramientas aquí -->
      </ul>
    </div>
  </main>
</div>
