/* Estructura principal */
.user-dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #00253d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.sidebar.is-collapsed {
  transform: translateX(-100%); /* Colapsar la sidebar en pantallas pequeñas */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a,
.sidebar .nav-item {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.sidebar a i,
.sidebar .nav-item i {
  margin-right: 10px;
  font-size: 20px;
}

.sidebar a:hover,
.sidebar .nav-item:hover {
  background-color: #005f73;
}

.sidebar .nav-item.active {
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(255,193,7,1) 50%);
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Sub-secciones */
.sub-sections {
  padding-left: 20px;
}

.sub-nav-item {
  font-size: 16px;
  color: #b3b3b3;
  cursor: pointer;
  margin-top: 10px;
  padding-left: 15px;
}

.sub-nav-item.active {
  color: #ff5722;
}

.sub-nav-item:hover {
  color: #ff5722;
}

/* Contenido */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f1f4f9;
}

h2 {
  color: #00253d;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

/* Botón hamburguesa para pantallas pequeñas */
.hamburger-btn {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #00253d;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.hamburger-btn:focus {
  outline: none;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    height: 100%;
    z-index: 2;
    transform: translateX(-100%); /* Ocultar el menú inicialmente */
  }

  .sidebar.is-collapsed {
    transform: translateX(0); /* Mostrar el menú cuando no está colapsado */
  }

  .hamburger-btn {
    display: block; /* Mostrar el botón hamburguesa en pantallas pequeñas */
  }

  .main-content {
    margin-left: 0; /* Asegura que el contenido se ajuste en pantallas pequeñas */
  }
}
