<!-- src/app/components/manual-sales/manual-sales.component.html -->

<div class="manual-sales-container">
  <h2>Transacciones Pendientes de Verificación Manual</h2>

  <div *ngIf="!isConnected" class="connection-status">
    <p>Conectando al servidor WebSocket...</p>
  </div>

  <div *ngIf="isConnected">
    <div *ngIf="pendingSales.length === 0" class="no-transactions">
      <p>No hay transacciones pendientes.</p>
    </div>
    <div *ngIf="pendingSales.length > 0" class="table-container">
      <table class="sales-table">
        <thead>
        <tr>
          <th>ID de Transacción</th>
          <th>Monto USD</th>
          <th>Monto HNL</th>
          <th>Fecha y Hora</th>
          <th>Usuario/Invitado</th>
          <th>Número de Teléfono</th>
          <th>Productos</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sale of pendingSales">
          <td>{{ sale.transactionNumber }}</td>
          <td>{{ sale.amountUsd | currency:'USD' }}</td>
          <td>{{ sale.amountHnl | currency:'HNL' }}</td>
          <td>{{ sale.timestamp | date:'short' }}</td>
          <td>{{ sale.userOrGuest }}</td>
          <td>{{ sale.phoneNumber }}</td>
          <td>
            <ul class="products-list">
              <li *ngFor="let product of sale.products">
                ID Producto: {{ product.productId }}, Cantidad: {{ product.quantity }}, Precio: {{ product.price | currency:'USD' }}
              </li>
            </ul>
          </td>
          <td>
            <!-- Puedes agregar más acciones aquí -->
            <!-- Por ejemplo, un botón para completar la venta -->
<!--            <button class="complete-sale-btn" (click)="completeSale(sale.transactionNumber)">-->
<!--              <i class="fas fa-check"></i> Completar venta-->
<!--            </button>-->
            <div class="manual-order-button">
              <button (click)="[openModal(sale.transactionNumber), runManualOrder(sale.transactionNumber)]" class="complete-sale-btn">
                Ejecutar Orden Manual
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">&times;</span>
    <h3>Información de la Orden</h3>
    <div *ngIf="order">
      <p><strong>ID de Orden:</strong> {{ order.id }}</p>
      <p><strong>Monto:</strong> {{ order.amount | currency }}</p>
      <p><strong>Número de Teléfono:</strong> {{ order.phoneNumber }}</p>
      <p><strong>Productos:</strong></p>
      <ul>
        <li *ngFor="let product of order.products">
          ID Producto: {{ product.id }}, Nombre: {{ product.productName }}
        </li>
      </ul>
    </div>
    <div *ngIf="!order">
      <p>Cargando información...</p>
    </div>
  </div>
</div>

