<!-- src/app/components/manual-sales/manual-sales.component.html -->

<div class="manual-sales-container">
  <h2>Transacciones Pendientes de Verificación Manual</h2>

  <div *ngIf="!isConnected">
    <p>Conectando al servidor WebSocket...</p>
  </div>

  <div *ngIf="isConnected">
    <div *ngIf="pendingSales.length === 0">
      <p>No hay transacciones pendientes.</p>
    </div>
    <ul>
      <li *ngFor="let sale of pendingSales">
        <div class="transaction-details">
          <p><strong>Número de Transacción:</strong> {{ sale.transactionNumber }}</p>
          <p><strong>Monto USD:</strong> {{ sale.amountUsd | currency:'USD' }}</p>
          <p><strong>Monto HNL:</strong> {{ sale.amountHnl | currency:'HNL' }}</p>
          <p><strong>Fecha y Hora:</strong> {{ sale.timestamp | date:'short' }}</p>
          <p><strong>Usuario/Invitado:</strong> {{ sale.userOrGuest }}</p>
          <p><strong>Número de Teléfono:</strong> {{ sale.phoneNumber }}</p>
          <p><strong>Productos:</strong></p>
          <ul>
            <li *ngFor="let product of sale.products">
              ID Producto: {{ product.productId }}, Cantidad: {{ product.quantity }}, Precio: {{ product.price | currency:'USD' }}
            </li>
          </ul>
        </div>
        <div class="transaction-actions">
          
        </div>
      </li>
    </ul>
  </div>
</div>
