<div class="clients-dashboard">
  <div class="top-controls">
    <div class="search-bar">
      <input type="text" placeholder="Buscar cliente..." [(ngModel)]="searchQuery" />
      <i class="fas fa-search"></i>
    </div>
    <button class="add-client-btn" (click)="addClient()" *ngIf="!createNewCustomer">
      <i class="fas fa-user-plus"></i> Nuevo Cliente
    </button>
  </div>

  <div class="main-content">
    <div class="clients-list" [ngClass]="{'full-grid': !selectedClient}">
      <h2>Clientes</h2>
      <div class="client-cards-list">
        <div *ngFor="let client of filteredUsers" class="client-card" (click)="toggleUserDetails(client)"
          [ngClass]="{'selected' : client === selectedClient}">
          <div class="client-avatar">
            <i class="fas fa-user-circle"></i>
          </div>
          <div class="client-info">
            <h3 class="client-name">{{ client.name }}</h3>
            <p>Email: {{ client.email }}</p>
            <p>Balance: {{ client.account.balance | currency }}</p>
          </div>
        </div>
      </div>

      <div class="pagination">
        <button (click)="goToPage(1)" [disabled]="currentPage === 1">
          <i class="fas fa-angle-double-left"></i>
        </button>
        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
          <i class="fas fa-angle-left"></i>
        </button>
        <span *ngFor="let page of [currentPage-2, currentPage-1, currentPage, currentPage+1, currentPage+2]">
          <button *ngIf="page > 0 && page <= totalPages" (click)="goToPage(page)"
            [class.active]="page === currentPage">{{ page }}</button>
        </span>
        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
          <i class="fas fa-angle-right"></i>
        </button>
        <button (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages">
          <i class="fas fa-angle-double-right"></i>
        </button>
      </div>
    </div>

    <ng-container *ngIf="selectedClient as client">
      <div class="client-details" [ngClass]="{'visible': true}">
        <button class="close-btn" (click)="closeClientDetails()"><i class="fas fa-times"></i></button>
        <h2>Detalles de {{ client.name }}</h2>
        <div class="client-info-details">
          <dl>
            <!-- Campo Email -->
            <div class="detail-item">
              <dt>Email:</dt>
              <dd *ngIf="!editMode['email']">{{ client.email }}</dd>
              <dd *ngIf="editMode['email']">
                <input [(ngModel)]="$any(client).email" type="text" />
              </dd>
              <button class="edit-icon" (click)="toggleEdit('email')">
                <span class="material-symbols-outlined">edit</span>
              </button>
            </div>
            <!-- Campo Teléfono -->
            <div class="detail-item" *ngIf="client.phoneNumber">
              <dt>Teléfono:</dt>
              <dd *ngIf="!editMode['phoneNumber']">{{ client.phoneNumber }}</dd>
              <dd *ngIf="editMode['phoneNumber']">
                <input [(ngModel)]="$any(client).phoneNumber" type="text" />
              </dd>
              <button class="edit-icon" (click)="toggleEdit('phoneNumber')">
                <span class="material-symbols-outlined">edit</span>
              </button>
            </div>
            <!-- Campo Rol -->
            <div class="detail-item">
              <dt>Rol:</dt>
              <dd *ngIf="!editMode['role']">{{ client.role }}</dd>
              <dd *ngIf="editMode['role']">
                <select [(ngModel)]="$any(client).enabled">
                  <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                </select>
              </dd>
              <button class="edit-icon" (click)="toggleEdit('role')">
                <span class="material-symbols-outlined">edit</span>
              </button>
            </div>
            <!-- Campo Estado -->
            <div class="detail-item">
              <dt>Estado:</dt>
              <dd *ngIf="!editMode['enabled']">{{ client.enabled ? 'Activo' : 'Inactivo' }}</dd>
              <dd *ngIf="editMode['enabled']">
                <select [(ngModel)]="$any(client).enabled">
                  <option [ngValue]="true">Activo</option>
                  <option [ngValue]="false">Inactivo</option>
                </select>
              </dd>
              <button class="edit-icon" (click)="toggleEdit('enabled')">
                <span class="material-symbols-outlined">edit</span>
              </button>
            </div>
          </dl>
        </div>

        <ng-container *ngIf="client.account as account">
          <div class="account-details">
            <h3>Detalles de la Cuenta</h3>
            <dl>
              <div class="detail-item">
                <dt>Número de Cuenta:</dt>
                <dd>{{ account.accountNumber }}</dd>
              </div>
              <div class="detail-item">
                <dt>Saldo:</dt>
                <dd>{{ account.balance | currency }}</dd>
              </div>
              <div class="detail-item">
                <dt>Estado de la Cuenta:</dt>
                <dd>{{ account.status }}</dd>
              </div>
              <div class="detail-item">
                <dt>Tipo de Cuenta:</dt>
                <dd>{{ account.accountType }}</dd>
              </div>
              <div class="detail-item">
                <dt>Límite Diario:</dt>
                <dd>{{ account.dailyLimit | currency }}</dd>
              </div>
              <div class="detail-item">
                <dt>Verificación:</dt>
                <dd>{{ account.verificationStatus }}</dd>
              </div>
              <div class="detail-item">
                <dt>Puntos de Lealtad:</dt>
                <dd>{{ account.loyaltyPoints }}</dd>
              </div>
              <div class="detail-item">
                <dt>Fecha de Creación:</dt>
                <dd>{{ account.createdDate | date:'short' }}</dd>
              </div>
              <div class="detail-item">
                <dt>Última Actualización:</dt>
                <dd>{{ account.updatedDate | date:'short' }}</dd>
              </div>
            </dl>
          </div>
        </ng-container>
        <button class="add-client-btn" (click)="addClient()" *ngIf="!createNewCustomer">
          <i class="fas fa-user-plus"></i> Guardar cliente
        </button>
        <!-- Componente de transacciones -->
        <app-transactions [selectedUserFromClients]="client"></app-transactions>
      </div>
    </ng-container>

    <!-- Componente para crear nuevo cliente -->
    <div class="customer-creation" *ngIf="createNewCustomer">
      <app-create-customer></app-create-customer>
    </div>
  </div>
</div>