/* Reset some basic styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 1rem 2rem;
}

/* Navbar brand */
.navbar-brand {
  font-size: 1.5rem;
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
}

/* Navbar links */
.navbar-links {
  display: flex;
  align-items: center;
}

/* Individual nav link */
.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  margin-left: 1rem;
  transition: color 0.3s;
}

/* Hover effect for links */
.nav-link:hover {
  color: #3498db;
}

/* Material icons styling */
.mat-icon {
  color: #ecf0f1;
  margin-left: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

/* Hover effect for icons */
.mat-icon:hover {
  color: #3498db;
}

/* App name styling */
.app-name {
  color: #ecf0f1;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

.app-name:hover {
  color: #3498db;
}

/* Cart icon styling */
li {
  list-style: none;
}

li .mat-icon {
  color: #ecf0f1;
  transition: color 0.3s;
}

li .mat-icon:hover {
  color: #3498db;
}


.cart-icon-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
