/* Estilos generales */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0A0A15; /* Fondo más oscuro */
  border-bottom: 2px solid #0E1C28; /* Borde aún más oscuro para un contraste sutil */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7); /* Sombra para dar profundidad */
}

.navbar-brand {
  font-size: 1.7rem;
  color: #00D4FF; /* Azul neón más brillante */
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar .nav-link {
  color: #00FFB9; /* Verde neón más vivo */
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #FF5733; /* Naranja brillante */
}

/* Íconos interactivos */
.clickable-icon {
  color: #88D66C; /* Verde claro */
  font-size: 1.7rem;
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.clickable-icon:hover {
  color: #FF5733; /* Naranja brillante en hover */
}

/* Estilo para el icono del carrito con el contador */
.cart-icon-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #EB3678;
  color: white;
  font-size: 0.8rem;
  padding: 2px 5px;
  border-radius: 50%;
}

/* Dropdown de idioma */
.language-dropdown {
  position: relative;
}

.language-btn {
  background: transparent;
  border: none;
  color: #88D66C; /* Verde claro */
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.language-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #0A0A15; /* Más oscuro que el fondo principal */
  border: 1px solid #1261A0; /* Borde azul oscuro */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  list-style: none;
  padding: 5px;
  margin: 0;
}

.language-menu li {
  padding: 8px 15px;
  color: #88D66C;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-menu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.language-menu li.active {
  color: #FF5733; /* Naranja brillante */
}

/* Adaptaciones para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .navbar-brand {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .nav-link {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .clickable-icon {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
