/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0A0A15;
  border-bottom: 0.125rem solid #0E1C28;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.7);
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* Logo */
.navbar-brand {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: #A0E4FF;
  margin-left: clamp(1.5rem, 10vw, 15rem);
}

/* Barra de búsqueda */
.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

/* Links e íconos */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  justify-content: flex-end;
  margin-right: clamp(1rem, 5vw, 15rem);
}

/* Ajustes de tamaño dinámico para los links */
.navbar-links a,
.navbar-links mat-icon {
  font-size: clamp(1.1rem, 1.8vw, 1.5rem); /* Reducción del tamaño */
  transition: transform 0.3s ease;
}

/* Links */
.navbar .nav-link {
  color: #A0E4FF;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #99CCFF; /* Color azul claro especial */
}

/* Íconos */
.clickable-icon {
  color: #A0E4FF;
  cursor: pointer;
  font-size: clamp(1.2rem, 1.8vw, 2rem); /* Reducción del tamaño de los iconos */
  transition: color 0.3s ease, transform 0.3s ease;
}

.clickable-icon:hover {
  color: #99CCFF; /* Cambiar el color a un azul más claro en hover */
  transform: scale(1.30); /* Ligeramente más pequeño en hover */
}

/* Carrito */
.cart-icon-container {
  position: relative;
  font-size: clamp(1.2rem, 1.8vw, 2rem); /* Reducción del tamaño del icono del carrito */
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart-icon-container a mat-icon {
  color: #A0E4FF;
}

.cart-icon-container:hover a mat-icon {
  color: #99CCFF;
  transform: scale(1.30); /* Reducción del hover en el carrito */
}

.fa-cart-shopping {
  transform: scale(1.30);
}

.fa-cart-shopping:hover {
  transform: scale(1.60);
}

.cart-count {
  position: absolute;
  top: -0.625rem;
  right: -0.625rem;
  background-color: #EB3678;
  color: white;
  font-size: 0.8rem;
  padding: 0.125rem 0.3125rem;
  border-radius: 50%;
}

/* Modal de búsqueda */
.search-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}

.search-modal-content {
  background-color: #0A0A15;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.4);
  position: relative;
  max-width: 400px;
  width: 80%;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}

/* Search Bar dentro del modal */
.search-bar {
  display: flex;
  width: 100%;
  border-radius: 25px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 1.2rem;
  outline: none;
  border-radius: 25px;
}

.search-bar button {
  margin-left: -35px;
  background: none;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  transform: scale(1.1);
}

/* Responsividad */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
    margin-left: clamp(1rem, 3vw, 5rem);
  }

  .navbar-center {
    display: none; /* Oculta la barra de búsqueda en pantallas pequeñas */
  }

  .navbar-links {
    gap: 0.5rem;
    margin-right: clamp(1rem, 3vw, 5rem);
  }

  .clickable-icon {
    font-size: 1.2rem; /* Reducido para pantallas pequeñas */
  }

  .cart-icon-container {
    font-size: 1.2rem; /* Reducido para pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 0.3rem;
    margin-right: clamp(0.5rem, 2vw, 3rem);
  }

  .clickable-icon {
    font-size: 1rem; /* Aún más pequeño para pantallas muy pequeñas */
  }

  .cart-icon-container {
    font-size: 1rem;
  }
}
