.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00253d;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.clickable-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-right: 15px;
}

.cart-icon-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 0 5px;
  font-size: 12px;
}

.language-dropdown {
  position: relative;
  z-index: 2;
}

.language-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 5px 10px;

}

.language-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.language-menu li {
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  z-index: 2/* Permite posicionar elementos hijos como el indicador de hover */
}

/* Estilos de hover: cambia el fondo, el color del texto y añade una sombra */
.language-menu li:hover {
  background-color: #007bff;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4); /* Sombra en el hover */
  transform: translateY(-2px); /* Un ligero efecto de elevación */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

/* Indicador de hover: línea sutil debajo del elemento */
.language-menu li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s;
}

.language-menu li:hover::after {
  width: 100%;
}
