/* src/app/components/navbar/navbar.component.css */

/* Tamaño base de fuente para rem */
html {
  font-size: 16px; /* 1rem = 16px */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; /* 16px 32px */
  background-color: #0a0a15;
  border-bottom: 0.125rem solid #0e1c28; /* 2px */
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.7); /* 4px 20px */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  flex-direction: row;
}

/* Pestañas de navegación de categorías */
.navbar-categories {
  position: fixed; /* Mantener las pestañas fijas */
  top: 4.5rem; /* Ajustar según la altura del navbar */
  width: 100%;
  background: rgba(6, 50, 50, 0.7); /* Fondo translúcido */
  backdrop-filter: blur(10px); /* Efecto vidrioso */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Debe estar justo debajo del navbar */
}

.nav-category {
  color: #a0e4ff;
  font-size: 1rem; /* 16px */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-category:hover {
  color: #99ccff;
  transform: scale(1.1);
}

.tabs-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem 0;
  gap: 0.5rem; /* Espacio entre pestañas */
  border-radius: 0.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.tab-button {
  background: transparent;
  color: #E1E6F1; /* Color de texto claro */
  padding: 0.75rem 1.5rem;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 1rem;
}

.tab-button i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color:  #88D66C; /* Iconos con color amarillo */
}

.tab-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background:

  rgba(222, 218, 211, 0.8) 60%; /* Dark Goldenrod */
  transition: width 0.3s ease, left 0.3s ease;
}

.tab-button.active::after {
  width: 60%;
  left: 20%;
}

.tab-button:hover {
  background: rgba(255, 255, 255, 0.2); /* Hover translúcido */
  color: #88D66C; /* Texto dorado en hover */
  border-radius: 1rem;
}

.tab-button.active {
  color:  #88D66C; /* Color activo dorado */
}

.nav-category {
  display: none; /* Ocultar las pestañas antiguas */
}

/* Mostrar las pestañas mejoradas en el navbar */
.navbar-categories .tabs-menu {
  display: flex;
}

.navbar-categories .tab-button {
  display: flex;
}

.navbar-user-details  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; /* 16px 32px */
  background: var(--navbar-user-details-bg-color);
  border-bottom: 0.125rem solid #0e1c28; /* 2px */
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.7); /* 4px 20px */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

/* Logo */
.navbar-brand {
  flex: 0 0 auto;
  font-size: 2rem; /* 32px */
  color: #a0e4ff;
  cursor: pointer;
}

.navbar-brand .app-name {
  font-weight: bold;
}

/* Barra de búsqueda */
.navbar-center {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.navbar-center app-search-bar {
  width: 100%;
  max-width: 37.5rem; /* 600px */
}

/* Enlaces del Navbar */
.navbar-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem; /* 16px */
}

.navbar-links a,
.navbar-links i {
  color: #a0e4ff;
  font-size: 1.2rem; /* 19.2px */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-links a:hover,
.navbar-links i:hover {
  color: #99ccff;
  transform: scale(1.5);
}

/* Íconos */
.clickable-icon {
  cursor: pointer;
  /*background: #E1E6F1;*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
  /*text-decoration: none;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*width: 150%;*/
  /*transition: transform 0.3s ease, bakground 1s ease;*/
}

.fa-magnifying-glass {
  background: #E1E6F1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 150%;
  transition: transform 0.3s ease, bakground 1s ease;
}

.clickable-icon:hover {
  transform: scale(1.5);
  background: var(--bell-icon-hover-default);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Carrito */
.cart-icon-container {
  position: relative;
  list-style: none;
}

.cart-icon-container a {
  color: #a0e4ff;
}

.cart-icon-container a:hover {
  color: #99ccff;
}

.none {
  visibility: collapse;
}

.cart-count {
  position: absolute;
  top: -0.5rem; /* -8px */
  right: -0.625rem; /* -10px */
  background-color: #eb3678;
  color: white;
  font-size: 0.75rem; /* 12px */
  padding: 0.125rem 0.375rem; /* 2px 6px */
  border-radius: 50%;
}

/* Modal de búsqueda */
.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.search-modal-content {
  background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px); /* Efecto vidrioso */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  width: 90%;
  max-width: 400px;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 0.625rem; /* 10px */
  right: 0.9375rem; /* 15px */
  color: #ffffff;
  font-size: 2rem; /* 32px */
  cursor: pointer;
}

/* Modal de menú */
.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease; /* Animación de entrada */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-modal-content {
  background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px); /* Efecto vidrioso */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  width: 90%;
  max-width: 400px;
  position: relative;
}

.menu-modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-modal-content a {
  color: #E1E6F1;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  transition: color 0.3s ease;
}

.menu-modal-content ul li {
  padding: 0.75rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
}

.menu-modal-content ul li a {
  background: #E1E6F1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  transition: transform 0.3s ease, bakground 1s ease;
}

.menu-modal-content ul li a:hover {
  background: var(--bell-icon-hover-default);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #FFD700;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.close-modal:hover {
  transform: scale(1.5);
  color: red;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 16px */
  margin-top: 1rem;
}

.menu-link {
  color: #a0e4ff;
  font-size: 1.2rem; /* 19.2px */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  gap: 1rem;
  display: flex;
  align-items: center;
}

.sub-menu {
  color: #a0e4ff;
  font-size: 1.2rem; /* 19.2px */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  gap: 1rem;
  display: flex;
  flex-direction: column; /* Apila el botón y el submenú verticalmente */
  align-items: flex-start; /* Alinea el submenú a la izquierda */
  width: 100%;
}
.menu-link:hover {
  color: #99ccff;
  animation: starGlow 3s infinite alternate;
  transform: scale(1.3);
}

.sub-menu button {
  background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
  color: #a0e4ff;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  justify-content: space-between;
}


.sub-menu button[aria-expanded="true"] i.fa-chevron-up {
  transform: rotate(180deg); /* Rotar el icono cuando el menú está expandido */
}

.submenu {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0; /* Sin padding adicional */
  background: rgba(42, 40, 40, 0.1); /* Fondo translúcido */
  color: #a0e4ff;
  border-radius: 0.5rem;
  flex-direction: column;
}

.submenu li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.submenu li:last-child {
  border-bottom: none;
}


@keyframes starGlow {
  0% {
    color: #00d4ff;
  }
  100% {
    color: #1E90FF;
  }
}
/* Botón de hamburguesa */
.navbar-hamburger {
  display: none; /* Oculto por defecto */
}

.navbar-hamburger i {
  color: #a0e4ff;
  font-size: 1.5rem; /* 24px */
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-hamburger i:hover {
  color: #99ccff;
  transform: scale(1.2);
}

.dropdown {
  position: relative;
}

.tab-button.dropdown-toggle {
  background-color: rgba(6, 50, 50, 0.9); /* Fondo más oscuro */
  color: #a0e4ff; /* Color de texto */
  border-radius: 0.5rem; /* Bordes redondeados */
  padding: 0.75rem 1.5rem;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde claro */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  width: auto;
}

.tab-button.dropdown-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo translúcido */
  color: #88D66C; /* Color de texto en hover */
  transform: scale(1.05); /* Efecto de crecimiento */
}

/* Estilo para el contenido desplegable */
.dropdown-content {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 100%; /* Debajo del botón */
  left: 0;
  background-color: rgba(10, 10, 21, 0.9);
  min-width: 12rem; /* Ancho mínimo */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 1000;
}

/* Mostrar el contenido desplegable al hacer hover en el botón */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos para las opciones de categorías */
.dropdown-content a {
  color: #a0e4ff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #88D66C;
}


/* Responsividad */
@media (max-width: 48rem) { /* 768px */
  .navbar-center {
    display: none;
  }

  .bell-menu-container {
    display: flex;
    gap: 1rem;
  }

  .navbar-links {
    display: none;
  }

  .navbar-hamburger {
    display: block;
  }

  .navbar {
    padding: 0.5rem 1rem; /* 8px 16px */
  }

  .navbar-brand {
    font-size: 1.5rem; /* 24px */
  }

  .navbar-categories {
    top: 3.5rem; /* Reducir si el navbar es más pequeño */
  }

  .tabs-menu {
    flex-direction: column;
    gap: 0.25rem;
  }

  .tab-button {
    width: 100%;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
  }

  .dropdown-content {
    position: static;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    text-align: center;
  }

  .dropdown-content a {
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: #88D66C;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .tab-button.dropdown-toggle {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 30rem) { /* 480px */
  .navbar-links a,
  .navbar-links i {
    font-size: 1rem; /* 16px */
  }

  .navbar-brand {
    font-size: 1.2rem; /* 19.2px */
  }

  .badge {
    top: -0.3125rem; /* -5px */
    right: -0.625rem; /* -10px */
    padding: 0.125rem 0.375rem; /* 2px 6px */
    font-size: 0.75rem; /* 12px */
  }

  .menu-modal-content {
    max-width: 20rem; /* 320px */
  }

  .menu-link {
    font-size: 1rem; /* 16px */
  }

  .tab-button {
    font-size: 0.9rem; /* Reducir tamaño de fuente */
    padding: 0.5rem 1rem;
  }

  .tab-button i {
    font-size: 1rem;
    margin-right: 0.25rem;
  }
}
