/* Reset some basic styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive; /* Fuente retro */
  background-color: #021526; /* Fondo oscuro */
  color: #88D66C; /* Texto verde claro */
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #021526; /* Fondo oscuro retro */
  padding: 1rem 2rem;
  border-bottom: 2px solid #88D66C; /* Borde inferior verde claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
}

/* Navbar brand */
.navbar-brand {
  font-size: 1.5rem;
  color: #88D66C; /* Texto verde claro */
  text-decoration: none;
  font-weight: bold;
}

/* Navbar links */
.navbar-links {
  display: flex;
  align-items: center;
  margin-right: 24rem;
}

/* Individual nav link */
.nav-link {
  color: #88D66C; /* Texto verde claro */
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.2rem;
}

/* Iconos retro para links */
.nav-link-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
  filter: invert(75%); /* Aplica un filtro para adaptar el color del ícono al diseño */
}

/* App name styling */
.app-name {
  color: #88D66C; /* Texto verde claro */
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Cart icon styling */
li {
  list-style: none;
}

/* Cart icon container */
.cart-icon-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ED5AB3; /* Fondo del contador en rosa neón */
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Material icons styling */
.mat-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 1rem;
}
