/* src/app/components/navbar/navbar.component.css */

/* Tamaño base de fuente para rem */
html {
  font-size: 16px; /* 1rem = 16px */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; /* 16px 32px */
  background-color: #0a0a15;
  border-bottom: 0.125rem solid #0e1c28; /* 2px */
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.7); /* 4px 20px */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.navbar-user-details  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; /* 16px 32px */
  background: var(--navbar-user-details-bg-color);
  border-bottom: 0.125rem solid #0e1c28; /* 2px */
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.7); /* 4px 20px */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

/* Logo */
.navbar-brand {
  flex: 0 0 auto;
  font-size: 2rem; /* 32px */
  color: #a0e4ff;
  cursor: pointer;
}

.navbar-brand .app-name {
  font-weight: bold;
}

/* Barra de búsqueda */
.navbar-center {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.navbar-center app-search-bar {
  width: 100%;
  max-width: 37.5rem; /* 600px */
}

/* Enlaces del Navbar */
.navbar-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem; /* 16px */
}

.navbar-links a,
.navbar-links i {
  color: #a0e4ff;
  font-size: 1.2rem; /* 19.2px */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-links a:hover,
.navbar-links i:hover {
  color: #99ccff;
  transform: scale(1.5);
}

/* Íconos */
.clickable-icon {
  cursor: pointer;
  /*background: #E1E6F1;*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
  /*text-decoration: none;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*width: 150%;*/
  /*transition: transform 0.3s ease, bakground 1s ease;*/
}

.fa-magnifying-glass {
  background: #E1E6F1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 150%;
  transition: transform 0.3s ease, bakground 1s ease;
}

.clickable-icon:hover {
  transform: scale(1.5);
  background: var(--bell-icon-hover-default);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Carrito */
.cart-icon-container {
  position: relative;
  list-style: none;
}

.cart-icon-container a {
  color: #a0e4ff;
}

.cart-icon-container a:hover {
  color: #99ccff;
}

.none {
  visibility: collapse;
}

.cart-count {
  position: absolute;
  top: -0.5rem; /* -8px */
  right: -0.625rem; /* -10px */
  background-color: #eb3678;
  color: white;
  font-size: 0.75rem; /* 12px */
  padding: 0.125rem 0.375rem; /* 2px 6px */
  border-radius: 50%;
}

/* Modal de búsqueda */
.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.search-modal-content {
  background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px); /* Efecto vidrioso */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  width: 90%;
  max-width: 400px;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 0.625rem; /* 10px */
  right: 0.9375rem; /* 15px */
  color: #ffffff;
  font-size: 2rem; /* 32px */
  cursor: pointer;
}

/* Modal de menú */
.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.menu-modal-content {
  background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px); /* Efecto vidrioso */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  width: 90%;
  max-width: 400px;
  position: relative;
}

.menu-modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*.menu-modal-content a {*/
/*  color: #E1E6F1;*/
/*  text-decoration: none;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  width: 100%;*/
/*  transition: color 0.3s ease;*/
/*}*/

.menu-modal-content ul li {
  padding: 0.75rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
}

.menu-modal-content ul li a {
  background: #E1E6F1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  transition: transform 0.3s ease, bakground 1s ease;
}

.menu-modal-content ul li a:hover {
  background: var(--bell-icon-hover-default);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #FFD700;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.close-modal:hover {
  transform: scale(1.5);
  color: red;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 16px */
  margin-top: 1rem;
}

.menu-link {
  color: #a0e4ff;
  font-size: 1.2rem; /* 19.2px */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  gap: 1rem;
}

.menu-link:hover {
  color: #99ccff;
  animation: starGlow 3s infinite alternate;
  transform: scale(1.3);
}


@keyframes starGlow {
  0% {
    color: #00d4ff;
  }
  100% {
    color: #1E90FF;
  }
}
/* Botón de hamburguesa */
.navbar-hamburger {
  display: none; /* Oculto por defecto */
}

.navbar-hamburger i {
  color: #a0e4ff;
  font-size: 1.5rem; /* 24px */
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-hamburger i:hover {
  color: #99ccff;
  transform: scale(1.2);
}

/* Responsividad */
@media (max-width: 48rem) { /* 768px */
  .navbar-center {
    display: none;
  }

  .bell-menu-container {
    display: flex;
    gap: 1rem;
  }

  .navbar-links {
    display: none;
  }

  .navbar-hamburger {
    display: block;
  }

  .navbar {
    padding: 0.5rem 1rem; /* 8px 16px */
  }

  .navbar-brand {
    font-size: 1.5rem; /* 24px */
  }
}

@media (max-width: 30rem) { /* 480px */
  .navbar-links a,
  .navbar-links i {
    font-size: 1rem; /* 16px */
  }

  .navbar-brand {
    font-size: 1.2rem; /* 19.2px */
  }

  .badge {
    top: -0.3125rem; /* -5px */
    right: -0.625rem; /* -10px */
    padding: 0.125rem 0.375rem; /* 2px 6px */
    font-size: 0.75rem; /* 12px */
  }

  .menu-modal-content {
    max-width: 20rem; /* 320px */
  }

  .menu-link {
    font-size: 1rem; /* 16px */
  }
}
