<!-- src/app/components/navbar/navbar.component.html -->

<nav [ngClass]="navbarClass" *ngIf="showNavbar">
  <div class="navbar-brand">
    <span class="app-name" (click)="goToHome()">Astralis</span>
  </div>

  <div class="navbar-center" *ngIf="!isSmallScreen">
    <app-search-bar (searchResults)="handleSearchResults($event)"></app-search-bar>
  </div>

  <div class="navbar-links">
    <li class="cart-icon-container">
      <a routerLink="/cart">
        <i class="fa-solid fa-cart-shopping"></i>
        <span *ngIf="cartItemCount > 0" class="cart-count">{{ cartItemCount }}</span>
      </a>
    </li>
    <a *ngIf="!isLoggedIn()" routerLink="/login" class="nav-link">Login</a>
    <a *ngIf="!isLoggedIn()" routerLink="/register" class="nav-link">Register</a>
    <i
      *ngIf="isSmallScreen"
      (click)="openSearchModal()"
      class="fa-solid fa-magnifying-glass clickable-icon"
    ></i>
    <app-balance *ngIf="isLoggedIn()"></app-balance>
    <app-notification-bell *ngIf="isLoggedIn()"></app-notification-bell>
    <i
      *ngIf="isLoggedIn()"
      (click)="router.navigate(['/user-details'])"
      class="fa-solid fa-user clickable-icon"
    ></i>
    <i *ngIf="isLoggedIn()" (click)="logout()" class="fa-solid fa-sign-out-alt clickable-icon"></i>
  </div>

  <div class="bell-menu-container" *ngIf="isSmallScreen">
    <i
      (click)="openSearchModal()"
      class="fa-solid fa-magnifying-glass clickable-icon"
    ></i>
    <app-balance *ngIf="isLoggedIn()"></app-balance>
    <app-notification-bell *ngIf="isLoggedIn()"></app-notification-bell>
    <div class="navbar-hamburger" *ngIf="isSmallScreen">
      <i class="fa-solid fa-bars" (click)="openMenuModal()"></i>
    </div>
  </div>
</nav>

<!-- Sección de Pestañas de Categorías Debajo de la Navbar -->
<div class="navbar-categories" *ngIf="!isSmallScreen && showNavbar">
  <div class="tabs-menu">
    <!-- Categorías con Dropdown para pantallas grandes -->
    <div class="dropdown" >
      <button class="tab-button dropdown-toggle" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-th-list" aria-hidden="true"></i> Categorías
      </button>
      <div class="dropdown-content" role="menu">
        <a href="#" (click)="selectCategory('vr')">VR</a>
        <a href="#" (click)="selectCategory('aventura')">Aventura</a>
        <a href="#" (click)="selectCategory('accion')">Acción</a>
        <a href="#" (click)="selectCategory('terror')">Terror</a>
        <a href="#" (click)="selectCategory('battle-royal')">Battle Royal</a>
        <a href="#" (click)="selectCategory('etc')">ETC</a>
      </div>
    </div>

    <!-- Categorías sin Dropdown para pantallas grandes -->
    <button
      class="tab-button"
      [ngClass]="{'active': selectedCategory === 'random-keys'}"
      (click)="[navigateToRandomKeys(), selectCategory('random-keys')]"
      aria-label="Claves Aleatorias"
    >
      <i class="fas fa-random" aria-hidden="true"></i> Claves Aleatorias
    </button>
    <button
      class="tab-button"
      [ngClass]="{'active': selectedCategory === 'software'}"
      (click)="selectCategory('software')"
      aria-label="Software"
    >
      <i class="fas fa-laptop-code" aria-hidden="true"></i> Software
    </button>
    <button
      class="tab-button"
      [ngClass]="{'active': selectedCategory === 'sensacion'}"
      (click)="selectCategory('sensacion')"
      aria-label="Sensación"
    >
      <i class="fas fa-music" aria-hidden="true"></i> Sensación
    </button>
  </div>
</div>

<!-- Modales -->
<div class="search-modal" *ngIf="showSearchModal">
  <div class="search-modal-content">
    <span class="close-modal" (click)="closeSearchModal()">&times;</span>
    <app-search-bar (searchResults)="[closeSearchModal(), handleSearchResults($event)]"></app-search-bar>
    <p *ngIf="searchResultsMessage">{{ searchResultsMessage }}</p>
  </div>
</div>

<div class="menu-modal" *ngIf="showMenuModal">
  <div class="menu-modal-content">
    <span class="close-modal" (click)="closeMenuModal()">&times;</span>
    <div class="menu-links">
      <ul>
        <li [ngClass]="userMenu" *ngIf="isLoggedIn() && isSmallScreen && !inUserDetailsRoute" (click)="closeMenuModal()">
          <a routerLink="/user-details" (click)="closeMenuModal()" class="menu-link">
            <i class="fa-solid fa-user clickable-icon"></i>
            User Details
          </a>
        </li>
        <li [ngClass]="userMenu" *ngIf="isSmallScreen && inUserDetailsRoute">
          <button (click)="toggleUserTabs()" [attr.aria-expanded]="tabsExpanded">
            <i class="fas fa-th-list"></i> User Settings
            <i class="fas" [ngClass]="{'fa-chevron-down': !tabsExpanded, 'fa-chevron-up': tabsExpanded}"></i>
          </button>
          <ul class="submenu" *ngIf="tabsExpanded">
            <li><a href="/user-details" (click)="selectCategory('user-info'); closeMenuModal()">User Info</a></li>
            <li><a href="/address" (click)="selectCategory('address'); closeMenuModal()">Address</a></li>
            <li><a href="/payment-methods" (click)="selectCategory('payment-methods'); closeMenuModal()">Payment method</a></li>
            <li><a href="/preferences" (click)="selectCategory('preferences'); closeMenuModal()">Preferences</a></li>
            <li><a href="/orders" (click)="selectCategory('orders'); closeMenuModal()">Transactions</a></li>
            <li><a href="/wish-list" (click)="selectCategory('wish-list'); closeMenuModal()">Wish List</a></li>
            <li *ngIf="isLoggedIn() && user.role === 'ADMIN'"><a href="/admin-panel" (click)="selectCategory('admin-panel'); closeMenuModal()">Admin Dashboard</a></li>
          </ul>
        </li>
        <li *ngIf="!isLoggedIn()">
          <a routerLink="/login" class="menu-link" (click)="closeMenuModal()">Login</a>
        </li>
        <li *ngIf="!isLoggedIn()">
          <a routerLink="/register" class="menu-link" (click)="closeMenuModal()">Register</a>
        </li>
        <li>
          <a routerLink="/cart" class="menu-link" (click)="closeMenuModal()">
            <i class="fa-solid fa-cart-shopping"></i>
            <span *ngIf="cartItemCount > 0">({{ cartItemCount }})</span>
            Carrito
          </a>
        </li>
        <!-- Categorías en el menu-modal para pantallas pequeñas -->
        <li class="sub-menu" *ngIf="isSmallScreen">
          <button (click)="toggleCategories()" [attr.aria-expanded]="categoriesExpanded">
            <i class="fas fa-th-list"></i> Categorías
            <i class="fas" [ngClass]="{'fa-chevron-down': !categoriesExpanded, 'fa-chevron-up': categoriesExpanded}"></i>
          </button>
          <ul class="submenu" *ngIf="categoriesExpanded">
            <li><a href="#" (click)="selectCategory('vr'); closeMenuModal()">VR</a></li>
            <li><a href="#" (click)="selectCategory('aventura'); closeMenuModal()">Aventura</a></li>
            <li><a href="#" (click)="selectCategory('accion'); closeMenuModal()">Acción</a></li>
            <li><a href="#" (click)="selectCategory('terror'); closeMenuModal()">Terror</a></li>
            <li><a href="#" (click)="selectCategory('battle-royal'); closeMenuModal()">Battle Royal</a></li>
            <li><a href="#" (click)="selectCategory('etc'); closeMenuModal()">ETC</a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/random-keys" class="menu-link">
            <i class="fas fa-random" aria-hidden="true"></i> Claves Aleatorias
          </a>
        </li>
        <li>
          <a class="menu-link">
            <i class="fas fa-laptop-code" aria-hidden="true"></i> Software
          </a>
        </li>
        <li *ngIf="isLoggedIn()" (click)="logout(); closeMenuModal()">
          <a class="menu-link">
            <i class="fa-solid fa-sign-out-alt clickable-icon"></i>
            Log out
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
