<div class="graph-container">
  <canvas id="graphCanvas"></canvas>
</div>

<div class="login-container">
  <h2 id="animated-text" class="login-title"></h2>
  <p>Enter your details below to continue</p>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Enter your email*</label>
      <input type="email" id="email" #emailInput [(ngModel)]="email" name="email" (keyup)="onEmailKeyUp()"
        (keydown)="onEmailKeyPress($event)" required placeholder="name@example.com">
    </div>

    <div class="form-group">
      <label for="password">Enter your password*</label>
      <input type="password" id="password" #passwordInput [(ngModel)]="password" name="password"
        (keyup)="onPasswordKeyUp()" (keydown)="onPasswordKeyPress($event)" required placeholder="••••••••">
    </div>

    <button type="submit">Login</button>
  </form>

  <div id="google-signin-button">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google logo">
  </div>

  <p *ngIf="message" [ngClass]="messageClass">{{ message }}</p>
</div>

<script src="animationScript.js"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="customGoogleButton.js"></script>