<!DOCTYPE html>
<html lang="en">
<body>
<div class="graph-container">
  <canvas id="graphCanvas"></canvas>
  <div class="login-container">
    <h2 id="animated-text" class="login-title"></h2> <!-- Aquí irá el texto animado -->
    <p>Enter your details below to continue</p>


    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Enter your email*</label>
        <input type="email" id="email" #emailInput [(ngModel)]="email" name="email"
               (keyup)="onEmailKeyUp()" (keydown)="onEmailKeyPress($event)" required>
      </div>

      <div class="form-group">
        <label for="password">Enter your password*</label>
        <input type="password" id="password" #passwordInput [(ngModel)]="password" name="password"
               (keyup)="onPasswordKeyUp()" (keydown)="onPasswordKeyPress($event)" required>
      </div>

      <button type="submit">Login</button>
    </form>


    <p *ngIf="message" [ngClass]="messageClass">{{ message }}</p>
  </div>
</div>

<!-- Script para la animación del texto -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const text = "Bienvenido a Astralis!";
    const animatedTextElement = document.getElementById("animated-text");
    let index = 0;

    function typeWriter() {
      if (index < text.length) {
        animatedTextElement.innerHTML += text.charAt(index);
        index++;
        setTimeout(typeWriter, 100); // Velocidad de aparición de las letras
      }
    }
    typeWriter();
  });
</script>

<!--<script src="animationScript.js"></script>-->
<!--<script src="https://accounts.google.com/gsi/client" async defer></script>-->
<!--<script src="customGoogleButton.js"></script>-->

