<div class="highlights-carousel">
  <!-- Flecha para ir al slide anterior -->
  <div class="carousel-arrow left" (click)="moveToPrevSlide()">
    &#10094;
  </div>

  <div class="carousel-track">
    <div
      *ngFor="let highlight of displayedHighlights"
      class="highlight-card"
      >
      <img
        [src]="highlight.imageUrl"
        [alt]="highlight.title"
        class="highlight-card-image"
        loading="lazy"
      >
    </div>
  </div>

  <!-- Flecha para ir al siguiente slide -->
  <div class="carousel-arrow right" (click)="moveToNextSlide()">
    &#10095;
  </div>

  <!-- Barra de progreso (indicador de tiempo) -->
  <div class="progress-container">
    <div class="progress-bar" [style.width.%]="progress"></div>
  </div>
</div>
