

.highlights-carousel {
  display: flex;
  justify-content: left;
  max-width: 60%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.7);
  margin-left: auto;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.5s ease, border-color 0.5s ease;
}

.highlights-carousel:hover {
  transform: scale(1.02);
  border-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 12px 30px rgba(255, 255, 255, 0.3);
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 105%;
}

.highlight-card {
  min-width: 100%;
  background: rgba(18, 34, 60, 0.8); /* Fondo más oscuro con transparencia */
  border-radius: 15px; /* Bordes redondeados */
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Sombra alrededor */
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgba(136, 214, 108, 0.4); /* Bordes semi-transparentes */
}


.highlight-card:hover {
  transform: translateY(-10px) scale(1.05); /* Elevación y zoom en hover */
  box-shadow: 0 12px 30px rgba(255, 255, 255, 0.5); /* Resplandor en hover */
  border-color: rgba(255, 255, 255, 0.6); /* Bordes más brillantes */
}

.highlight-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* Sombra sobre la imagen */
  transition: box-shadow 0.4s ease;
}


.highlight-card-content {
  padding: 20px;
  text-align: center;
}

.highlight-card-title {
  font-size: 1.4rem; /* Título más grande */
  margin: 10px 0 5px;
  color: #00d4ff; /* Azul neón */
  text-transform: uppercase; /* Texto en mayúsculas */
  letter-spacing: 1px; /* Espaciado adicional entre letras */
}

.highlight-card-price {
  font-size: 1.2rem;
  color: #88D66C; /* Verde neón */
  font-weight: bold;
  margin-bottom: 10px;
}


.gift-card {
  position: relative;
  width: 9.37rem;
  background: #021526;
  border: 2px solid #88D66C; /* Bordes del color del texto */
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.gift-card:hover {
  transform: scale(1.05);
}

.gift-card-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  background-color: #1A2A40;
}

.gift-card-content {
  padding: 10px;
  text-align: center;
  min-height: 80px;
}

.gift-card-title {
  font-size: 0.875rem;
  margin: 5px 0;
  font-weight: bold;
  color: #88D66C;
}

.gift-card-price {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background: #1261A0;
  color: #0B0D19;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  box-sizing: border-box;
}


.highlight-card:hover .highlight-card-image {
  box-shadow: 0 8px 30px rgba(0, 255, 255, 0.7); /* Resplandor de la imagen en hover */
}

.highlight-card:hover .highlight-card-title {
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8); /* Resplandor del título en hover */
}

/* Adaptación para pantallas medianas (tablets, por ejemplo) */
@media (max-width: 1024px) {
  .highlights-carousel {
    max-width: 60%;
    justify-content: center;
    margin: auto;
  }
}

/* Adaptación para pantallas pequeñas (smartphones) */
@media (max-width: 768px) {
  .highlights-carousel {
    display: flex;
    justify-content: left;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.7);
    margin-left: auto;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.5s ease, border-color 0.5s ease;
  }

  .highlight-card {
    min-width: 100%;
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Sombra alrededor */
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgba(136, 214, 108, 0.4); /* Bordes semi-transparentes */
  }

  .highlight-card-title {
    font-size: 1.2rem;
  }

  .highlight-card-price {
    font-size: 1rem;
  }

  .highlight-card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* Sombra sobre la imagen */
    transition: box-shadow 0.4s ease;
  }
}

/* Ajuste adicional para pantallas muy pequeñas */
@media (max-width: 480px) {
  /*.highlights-carousel {*/
  /*  max-width: 90%;*/
  /*  max-height: 90%;*/
  /*  margin: auto;*/
  /*}*/

  .highlight-card {
    min-width: 100%;
  }

  .highlight-card-title {
    font-size: 1rem;
  }

  .highlight-card-price {
    font-size: 0.9rem;
  }

  .highlight-card-image {
    height: 150px;
  }
}
