<!-- src/app/banner/banner.component.html -->
<div class="banner-container" *ngIf="!isLoading && giftCard; else loadingOrError">
  <div class="banner-background" [ngStyle]="{ 'background-image': 'url(' + giftCard.coverImageOriginal + ')' }"></div>
  <div class="banner-content">
    <div class="banner-text">
      <h1>WHEN DUTY CALLS, LEGENDS ANSWER</h1>
      <p class="subtext">The combat zone awaits your command</p>
      <p class="game-title">{{ giftCard.name }}</p>
    </div>
    <button class="call-to-action-button">ANSWER THE CALL</button>
    <div class="platform-icons">
      <i class="fa-brands fa-steam"></i>
      <i class="fa-brands fa-xbox"></i>
      <i class="fa-brands fa-playstation"></i>
    </div>
  </div>
  </div>


<ng-template #loadingOrError>
  <div class="banner-container loading">
    <p *ngIf="isLoading">Cargando banner...</p>
    <p *ngIf="!isLoading && errorMessage">{{ errorMessage }}</p>
  </div>
</ng-template>
