<!-- src/app/cart/cart.component.html -->
<div class="graph-container">
  <canvas id="graphCanvas"></canvas>
</div>

<div class="cart-container">
  <h2>Carrito de compras</h2>
  <div class="cart-content">

    <div class="cart-items">
      <ng-container *ngIf="cartItems.length > 0; else emptyCart">
        <ul>
          <li *ngFor="let item of cartItems" class="cart-item">
            <img [src]="item.giftcard.coverImageOriginal" alt="{{ item.giftcard.name }}" class="gift-card-image">
            <div class="item-info">
              <h3 class="item-title">{{ item.giftcard.name }}</h3>
              <div class="item-quantity">
                <button (click)="decreaseProductQuantity(item)" aria-label="Decrease Quantity">-</button>
                <span class="quantity-display">{{ item.cartItem.quantity }}</span>
                <button (click)="incrementProductQuantity(item)" aria-label="Increase Quantity">+</button>
              </div>
              <p class="item-price">{{ (item.giftcard.priceHNL) | number:'1.2-2' }} LPS</p>
            </div>
            <div class="item-actions">
              <mat-icon (click)="removeCartItem(Number(item.cartItem.productId))">delete</mat-icon>
            </div>
          </li>
        </ul>

        <div class="total-price-section">
          <h3>Total Price: {{ totalHNL | number:'1.2-2' }} HNL</h3>

          <div *ngIf="isLoading">
            <p>Cargando tasa de cambio...</p>
          </div>

          <div *ngIf="conversionError">
            <p class="error">{{ conversionError }}</p>
          </div>

          <div class="payment-options">
            <button
              class="payment-option-button"
              (click)="selectOption('TIGO MONEY')"
              [class.selected]="selectedOption === 'TIGO MONEY'"
            >
              <i class="fas fa-mobile-alt fa-lg"></i>
              <span>TIGO MONEY</span>
            </button>

            <button
              class="payment-option-button"
              (click)="selectOption('BALANCE')"
              [class.selected]="selectedOption === 'BALANCE'"
            >
              <i class="fa-solid fa-dollar-sign"></i>
              <span>Balance</span>
            </button>

            <button
              class="payment-option-button"
              (click)="selectOption('paypal')"
              [class.selected]="selectedOption === 'paypal'"
            >
              <i class="fab fa-paypal fa-lg"></i>
              <span>PayPal</span>
            </button>
            <button
              class="payment-option-button"
              (click)="selectOption('card')"
              [class.selected]="selectedOption === 'card'"
            >
              <i class="fas fa-credit-card fa-lg"></i>
              <span>Card</span>
            </button>
          </div>
        </div>
      </ng-container>

      <ng-template #emptyCart>
        <p>Tu carrito está vacío.</p>
      </ng-template>
    </div>

    <div class="payment-info">
      <h3>Información de Pago</h3>
      <form>
        <div class="form-group">
          <label for="email">Correo Electrónico:</label>
          <input type="email" id="email" name="email" [(ngModel)]="emailForKey" required>
        </div>

        <form (ngSubmit)="continueWithOption()">
          <button type="submit" class="payment-button" [disabled]="!selectedOption">
            Continuar con el Pago
          </button>
        </form>
      </form>
      <div class="discount-section">
        <label for="discountCode">Código de Descuento:</label>
        <input type="text" id="discountCode" name="discountCode" [(ngModel)]="promoCode">
        <button class="discount-button" (click)="checkIfCodeExists(promoCode)">Aplicar Descuento</button>
        <div *ngIf="!codeExist" >
          <p
            class="error-message"
          >Codigo  de descuento no existe</p>
        </div>
        <div *ngIf="codeExistBlueprint" >
          <p
          >{{this.discountReceived}}</p>
        </div>
      </div>

      <ng-container>
        <app-tigo-payment
          *ngIf="showPaymentModal"
          [totalAmount]="totalHNL"
          [promo_code]="promoCode"
        ></app-tigo-payment>

        <div *ngIf="showPayPalButton">
          <app-paypal-button
            [amount]="totalAmountUSDString"
            [onSubmitOrder]="submitOrder"
            [orderDetails]="orderDetails"
            [paymentSource]="'paypal'"
            (paymentSuccess)="onPaymentSuccess($event)"
            (paymentFailureKeysNotAvailable)="handleTransactionCancelled()"
          >
          </app-paypal-button>
        </div>
        <div *ngIf="showCardButton">
          <app-card-payment
            [amount]="60.12"
            [orderDetails]="orderDetails"
            (paymentSuccess)="onPaymentSuccess($event)"
            (paymentFailureKeysNotAvailable)="handleTransactionCancelled()">
          </app-card-payment>
        </div>

      </ng-container>

      <p class="terms-text">
        Al hacer clic en "Continuar con el pago" reconozco que he leído y aceptado los
        <li (click)="openTerms()" sytel="cursor: pointer;"><a target="_blank">Terminos y condiciones de Astralisbank.com</a></li>
      </p>
    </div>
  </div>
</div>

<div class="related-products-container">
  <h2 class="related-products-title">También te pueden interesar</h2>
  <app-recommendations></app-recommendations>
</div>


<div *ngIf="showDialog" class="dialog-overlay">
  <div class="dialog">
    <p>No more items in the cart.</p>
    <button (click)="closeDialog()">OK</button>
  </div>
</div>

<div class="modal" *ngIf="showCancelledModal">
  <div class="modal-content">
    <span class="close" (click)="showCancelledModal = false">&times;</span>
    <h3>El producto no está disponible ahora.</h3>
    <p>Trata de comprarlo en unos minutos con tu número de referencia.</p>
    <button type="button" class="retry-button" (click)="showCancelledModal = false">
      <i class="fa-solid fa-arrows-rotate"></i> Cerrar
    </button>
  </div>
</div>
