<div class="cart-container">
  <h2>Shopping Cart</h2>
  <ul>
    <li *ngFor="let item of cartItems" class="cart-item">
      <div class="item-details">
        <p>Product ID: {{ item.productId }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>KINGUIN ID: {{item.kinguinId}}</p>
      </div>
      <div class="item-actions">
        <button (click)="removeCartItem(Number(item.productId))">Remove</button>
        <button (click)="incrementProductQuantity(item)">+</button>
        <button
          (click)="decreaseProductQuantity(item)"
        >-</button>
        <a (click)="openPaymentModal()" class="nav-link">PAY WITH TIGO MONEY</a>
      </div>

    </li>
  </ul>
</div>

<div *ngIf="showDialog" class="dialog-overlay">
  <div class="dialog">
    <p>No more items in the cart.</p>
    <button (click)="closeDialog()">OK</button>
  </div>
</div>


<app-tigo-payment *ngIf="showPaymentModal" [cartItems]="cartItems"></app-tigo-payment>

