.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-bar input[type="text"] {
  width: 100%;
  max-width: 600px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background: #f0f0f0;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.search-bar input[type="text"]::placeholder {
  color: #ccc;
  font-size: 1rem;
}

.search-bar input[type="text"]:focus {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.search-bar button {
  margin-left: -40px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-bar button i {
  font-size: 1.2rem;
  color: #999;
}
