:host {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh; /* Asegura que cubra la altura completa de la pantalla */
  overflow: hidden; /* Para evitar barras de desplazamiento innecesarias */
}

.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Asegura que la animación esté en el fondo */
}

.register-container {
  position: relative;
  z-index: 1; /* Asegura que el formulario esté sobre la animación */
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: rgba(11, 13, 25, 0.9); /* Fondo semitransparente */
  border: 2px solid #1261A0;
  color: #88D66C;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.register-title {
  font-family: 'Press Start 2P', cursive;
  color: #FB773C;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  font-family: 'VT323', monospace;
  color: #399918;
  font-size: 1rem;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: calc(100% - 24px);
  padding: 12px;
  border: 2px solid #88D66C;
  background-color: #0B0D19;
  color: #E1E6F1;
  font-family: 'VT323', monospace;
  font-size: 1rem;
  outline: none;
  margin-bottom: 20px;
}

.form-group input:focus {
  border-color: #FB773C;
}

button {
  width: 100%;
  padding: 12px 20px;
  background-color: #4F1787;
  border: 2px solid #180161;
  color: #88D66C;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #180161;
}

button:active {
  background-color: #12223C;
}

button:focus {
  outline: none;
  box-shadow: 0 0 10px #1D4B8F;
}

p, a {
  font-family: 'VT323', monospace;
  color: #399918;
}

p a {
  color: #1261A0;
}

p a:hover {
  color: #FB773C;
}

.success-message {
  color: #88D66C;
  margin-top: 15px;
}

.error-message {
  color: #EB3678;
  margin-top: 15px;
}


/* Variables de Color */
:root {
  --primary-bg-color: #020f15; /* Azul oscuro espacial */
  --secondary-bg-color: #203a43; /* Azul medio oscuro */
  --tertiary-bg-color: #2c5364; /* Azul grisáceo */
  --glass-bg-color: rgba(255, 255, 255, 0.1); /* Fondo vidrioso */
  --text-color: #E1E6F1; /* Color de texto claro */
  --accent-pink: #FF6EC7; /* Rosa psicodélico */
  --accent-green: #A7F432; /* Verde neón */
  --accent-yellow: #F4D35E; /* Amarillo vibrante */
  --accent-blue: #7873f5; /* Azul vibrante */
  --button-gradient: linear-gradient(45deg, #ff6ec4, #7873f5); /* Degradado para botones */
  --button-gradient-hover: linear-gradient(45deg, #7873f5, #ff6ec4); /* Degradado invertido para hover */
}
