.filter-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #ff6600;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.filter-container {
  position: fixed;
  top: 0;
  left: -300px; /* Mueve el filtro fuera de la vista por defecto */
  width: 300px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease;
  z-index: 999;
  overflow-y: auto;
}

.filter-container.open {
  left: 0; /* Despliega el filtro */
}


.filters-container {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.filters-container h3 {
  margin-bottom: 20px;
}

.filters-container div {
  margin-bottom: 15px;
}

.filters-container label {
  display: block;
  margin-bottom: 5px;
}

.filters-container select,
.filters-container input[type="range"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.filters-container button {
  width: 100%;
  padding: 10px;
  background-color: #ff6600;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
