<!-- filters.component.html -->
<div class="filter-container">
  <div class="filters-wrapper">
    <h3 class="filters-title">Filtros</h3>

    <div class="filter-group">
      <label for="hideOutOfStock">Ocultar productos sin stock</label>
      <input type="checkbox" id="hideOutOfStock" [(ngModel)]="filters.hideOutOfStock">
    </div>

    <div class="filter-group">
      <label for="platform">Plataforma</label>
      <select id="platform" [(ngModel)]="filters.platform">
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let platform of platforms" [value]="platform">{{ platform }}</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="region">Región de Activación</label>
      <select id="region" [(ngModel)]="filters.region">
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let region of regions" [value]="region.id">{{ region.name }}</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="price-range">Rango de Precios</label>
      <input type="range" id="price-range" [(ngModel)]="filters.priceRange" min="0" max="100">
      <span class="price-value">${{ filters.priceRange }}</span>
    </div>

    <div class="filter-group">
      <label for="os">Sistema Operativo</label>
      <select id="os" [(ngModel)]="filters.os">
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let os of operatingSystems" [value]="os">{{ os }}</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="genre">Géneros</label>
      <select id="genre" [(ngModel)]="filters.genre">
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="language">Idiomas del Producto</label>
      <select id="language" [(ngModel)]="filters.language">
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="tags">Tags</label>
      <select id="tags" [(ngModel)]="filters.tags">
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
      </select>
    </div>

    <!-- Grupo de Botones -->
    <div class="button-group">
      <button class="apply-filters-button" (click)="applyFilters()">Aplicar Filtros</button>
      <button class="reset-filters-button" (click)="resetFilters()">Resetear Filtros</button>
    </div>
  </div>
</div>
