.filter-toggle {
  position: fixed;
  top: 6.5rem;
  left: 1.5rem;
  background-color: transparent;
  color: #a0a0a0; /* Color gris */
  padding: 8px;
  border: 2px solid #a0a0a0; /* Borde gris */
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  transition: border-color 0.3s, color 0.3s; /* Transición suave */
}

.filter-toggle i {
  font-size: 20px; /* Tamaño más pequeño */
}

.filter-toggle:hover {
  border-color: #ff6600; /* Cambia el borde a un color más vibrante */
  color: #ff6600; /* Cambia el color del ícono al mismo tono vibrante */
}

.filter-container {
  position: fixed;
  top: 6.5rem;
  left: -300px; /* Mueve el filtro fuera de la vista por defecto */
  width: 300px;
  background-color: #333;
  transition: left 0.3s ease;
  z-index: 999;
  overflow-y: auto;
  border-radius: 10px;
}

.filter-container.open {
  left: 1.5rem; /* Despliega el filtro */
}

.filters-container {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.filters-container h3 {
  margin-bottom: 15px;
  text-align: center;
}

.filters-container div {
  margin-bottom: 15px;
}

.filters-container label {
  display: block;
  margin-bottom: 5px;
}

.filters-container select,
.filters-container input[type="range"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.filters-container button {
  width: 100%;
  padding: 10px;
  background-color: #ff6600;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.filters-container button:hover {
  background-color: #e55b00;
}
