.statistics-dashboard {
  padding: 20px;
  background-color: #f9f9f9;
}

.tabs-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-button {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  font-size: 16px;
  width: 160px;
  margin-right: 10px; /* Espacio entre los botones */
}

.tab-button i {
  font-size: 24px;
  margin-bottom: 8px;
}

.tab-button:hover {
  transform: scale(1.05);
}

.tab-button.active {
  background-color: #28a745;
  color: #ffffff;
}

.tab-button.locations {
  background-color: #00796b; /* Verde oscuro */
  color: #ffffff;
}

.tab-button.shops {
  background-color: #ffa726; /* Naranja */
  color: #ffffff;
}

.tab-button.products {
  background-color: #d32f2f; /* Rojo */
  color: #ffffff;
}

.tab-button.traffic {
  background-color: #4bc0c0; /* Azul claro */
  color: #ffffff;
}

.tab-button.inventory {
  background-color: #4caf50; /* Verde */
  color: #ffffff;
}

.tab-button.orders {
  background-color: #7e57c2; /* Morado */
  color: #ffffff;
}

.tab-button:hover {
  background-color: #0056b3; /* Cambia el color al hacer hover */
  color: #fff;
  transform: scale(1.1);
}

.tab-button.active {
  background-color: #28a745;
  transform: scale(1.1); /* Más grande cuando está activo */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.chart-container {
  width: 100%;
  max-width: 600px; /* Tamaño reducido */
  margin: 0 auto;
}

canvas {
  width: 100% !important;
  height: 300px !important; /* Tamaño del gráfico */
}
