:root {
  --primary-color: #0B0D19; /* Fondo principal oscuro */
  --highlight-color: #1261A0; /* Azul para botones y enlaces */
  --text-color: #88D66C; /* Texto claro */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* No permite scroll horizontal */
  overflow-y: auto; /* Permite scroll vertical */
}


.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;

}

.main-content {
  width: 100%;
  max-width: 1200px;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 20px;
}

/* Gift Cards */
.gift-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

.gift-card {
  background-color: rgba(2, 21, 38, 0.8);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.gift-card:hover {
  transform: translateY(-10px);
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.gift-card-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.gift-card-title {
  font-size: 1.3rem;
  color: #00d4ff; /* Neon turquoise text */
  margin-bottom: 10px;
  text-transform: uppercase;
}

.gift-card-price {
  font-size: 1.1rem;
  color: var(--text-color);
  font-weight: bold;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Botón de cargar más - estilo más discreto */
.load-more-button {
  background: none; /* Sin fondo */
  color: transparent; /* Elimina el texto visible */
  border: none; /* Sin borde */
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.load-more-button:hover .material-symbols-outlined {
  color: #88D66C; /* Color verde neón en hover */
  transform: translateY(3px); /* Movimiento leve hacia abajo */
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Icono de flecha (expand_more) estilo discreto */
.load-more-button .material-symbols-outlined {
  font-size: 2rem; /* Ajusta el tamaño del ícono */
  color: rgba(255, 255, 255, 0.5); /* Color inicial más tenue */
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Efecto de hover */
.load-more-button:hover .material-symbols-outlined {
  color: #88D66C; /* Cambia el color a verde neón en hover */
  transform: translateY(3px); /* Movimiento leve hacia abajo */
}

/* Estilo móvil */
@media (max-width: 768px) {




  .gift-card {
    min-width: calc(50% - 10px);
    background: rgba(2, 21, 38, 0.8);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
  }

  .gift-cards-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 10px;
    width: 100%;
  }

  .gift-card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .highlight-card {
    min-width: 100%;
  }

  .gift-card {
    min-width: calc(100% - 10px);
  }

  .gift-cards-container {
    gap: 8px;
  }
}
