<div class="gift-cards-container">
  <div *ngFor="let card of (giftCardsInput && giftCardsInput.length > 0 ? displayedGiftCards : displayedGiftCards)"
       class="gift-card"
       (click)="viewDetails(card)">
    <div class="image-container">
      <img [src]="card.coverImage" alt="{{ card.name }}" class="gift-card-image">
    </div>
    <div class="gift-card-content">
      <h3 class="gift-card-title">{{ card.name }}</h3>
      <div class="gift-card-price">
        <span>{{ (card.price * exchangeRate).toFixed(2) | currency: 'Lps. ' }}</span>
      </div>
    </div>
  </div>
</div>


<!--<div class="gift-cards-container" *ngIf="cards$ | async as cards">-->
<!--  &lt;!&ndash;  <div *ngFor="let card of (giftCardsInput && giftCardsInput.length > 0 ? displayedGiftCards : displayedGiftCards)"&ndash;&gt;-->
<!--  <div >-->
<!--    class="gift-card"-->
<!--    (click)="viewDetails(card)">-->
<!--    <div class="image-container">-->
<!--      <img [src]="card.coverImage" alt="{{ card.name }}" class="gift-card-image">-->
<!--    </div>-->
<!--    <div class="gift-card-content">-->
<!--      <h3 class="gift-card-title">{{ card.name }}</h3>-->
<!--      <div class="gift-card-price">-->
<!--        <span>{{ (card.price * exchangeRate).toFixed(2) | currency: 'Lps. ' }}</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
