<div class="set-password-container">
  <h2>Establecer Contraseña</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Nueva Contraseña*</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        (keyup)="onPasswordKeyUp(); calculatePasswordStrength()"
        required
      />
      <div *ngIf="password.length > 0" class="password-strength-container">
        <div class="password-strength-bar" [ngClass]="passwordStrengthLevel"></div>
      </div>
      <p *ngIf="password.length > 0" class="password-strength-text">{{ passwordStrengthText }}</p>
    </div>
    <button type="submit">Establecer Contraseña</button>
  </form>
  <p *ngIf="message" [ngClass]="messageClass">{{ message }}</p>
</div>
