/* src/app/components/payout/payout.component.css */
.payout-container {
  max-width: 500px;
  margin: 0 auto;
}

.payout-container form {
  display: flex;
  flex-direction: column;
}

.payout-container form div {
  margin-bottom: 15px;
}

.payout-container label {
  margin-bottom: 5px;
}

.payout-container input,
.payout-container select {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
