:root {
  --scale-factor: 0.80; /* 80% del tamaño original */
  --primary-color: #0B0D19;
  --secondary-color: #021526;
  --text-color: #FFFFFF;
  --highlight-color: #00d4ff; /* Azul neón */
  --highlight-color-1: #ff6ec7; /* Rosa neón */
  --highlight-color-2: #58d68d; /* Verde neón */
  --highlight-color-3: #f4d03f; /* Amarillo neón */
  --highlight-color-4: #ff5722; /* Naranja neón */
  --accent-color: #88D66C;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'VT323', monospace;
  --transition-speed: 0.3s;
}

/* Contenedor de recomendaciones */
.recommendations-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Animación de carga personalizada con barras multicolor neón */
.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ocupa todo el alto del contenedor */
  position: absolute; /* Posiciona la animación sobre el contenido */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.bars {
  display: flex;
  align-items: flex-end;
  gap: calc(4px * var(--scale-factor));
}

.bar {
  width: calc(8px * var(--scale-factor));
  height: calc(20px * var(--scale-factor));
  background-color: var(--highlight-color);
  border-radius: calc(4px * var(--scale-factor));
  box-shadow: 0 0 calc(8px * var(--scale-factor)) var(--highlight-color);
  animation: pulse-bars 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.bar1 {
  background-color: var(--highlight-color-1);
  box-shadow: 0 0 calc(8px * var(--scale-factor)) var(--highlight-color-1);
  animation-delay: -0.4s;
}

.bar2 {
  background-color: var(--highlight-color-2);
  box-shadow: 0 0 calc(8px * var(--scale-factor)) var(--highlight-color-2);
  animation-delay: -0.2s;
}

.bar3 {
  background-color: var(--highlight-color-3);
  box-shadow: 0 0 calc(8px * var(--scale-factor)) var(--highlight-color-3);
  animation-delay: 0s;
}

.bar4 {
  background-color: var(--highlight-color-4);
  box-shadow: 0 0 calc(8px * var(--scale-factor)) var(--highlight-color-4);
  animation-delay: 0.2s;
}

.bar5 {
  background-color: var(--highlight-color);
  box-shadow: 0 0 calc(8px * var(--scale-factor)) var(--highlight-color);
  animation-delay: 0.4s;
}

@keyframes pulse-bars {
  0%, 100% {
    transform: scaleY(1);
    opacity: 0.7;
  }
  50% {
    transform: scaleY(1.5);
    opacity: 1;
  }
}

/* Estilos para las recomendaciones */
.recommendations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(200px * var(--scale-factor)), 1fr));
  gap: calc(1.5rem * var(--scale-factor));
  width: 70%;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  margin-bottom: 5rem;
}

.recommendations-gift-cards-container {
  display: contents;
}

.gift-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: calc(300px * var(--scale-factor)); /* Ancho máximo escalado */
  background: linear-gradient(135deg, rgba(39, 39, 57, 0.4), rgba(8, 64, 180, 0.4));
  border: calc(0.125rem * var(--scale-factor)) solid rgba(173, 216, 230, 0.2);
  border-radius: calc(0.5rem * var(--scale-factor));
  padding: 0;
  text-align: center;
  transition: transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease, border-color var(--transition-speed) ease;
  box-shadow: 0 calc(0.25rem * var(--scale-factor)) calc(1.25rem * var(--scale-factor)) rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  min-height: calc(20rem * var(--scale-factor));
}

.gift-card::before {
  content: '';
  position: absolute;
  top: calc(-2px * var(--scale-factor));
  left: calc(-2px * var(--scale-factor));
  right: calc(-2px * var(--scale-factor));
  bottom: calc(-2px * var(--scale-factor));
  border-radius: calc(1px * var(--scale-factor));
  background: linear-gradient(135deg,
  rgba(139, 0, 139, 0.8) 20%, /* Dark Magenta */
  rgba(75, 0, 130, 0.8) 20%, /* Indigo */
  rgba(0, 128, 128, 0.8) 40%, /* Dark Cyan */
  rgba(184, 134, 11, 0.8) 60%, /* Dark Goldenrod */
  rgba(25, 25, 112, 0.8) 80%); /* Midnight Blue */
  background-size: 300% 300%;
  z-index: -1;
  animation: animatedBorder 7s ease infinite;
  filter: blur(calc(0px * var(--scale-factor)));
}

@keyframes animatedBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gift-card:hover {
  transform: translateY(calc(-0.625rem * var(--scale-factor)));
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 calc(1.875rem * var(--scale-factor)) rgba(255, 255, 255, 0.5);
}

.gift-card-image {
  width: 100%;
  height: calc(22rem * var(--scale-factor)); /* Aumentado de 18rem a 22rem */
  object-fit: cover;
  border-top-left-radius: calc(0.5rem * var(--scale-factor));
  border-top-right-radius: calc(0.5rem * var(--scale-factor));
  display: block;
  transition: transform var(--transition-speed) ease;
}

.gift-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  flex-grow: 1;
  margin-top: calc(1rem * var(--scale-factor));
  padding: calc(1rem * var(--scale-factor));

  /* Asegura que el contenido no se desborde */
  max-width: 100%;
}

.discount-percentage {
  position: absolute;
  top: 10px; /* Ajusta según tus necesidades */
  left: 10px; /* Ajusta según tus necesidades */
  background-color: var(--discount-color);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: calc(0.75rem * var(--scale-factor));
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1; /* Por encima de otros elementos */
}

.gift-card-title {
  font-size: calc(1rem * var(--scale-factor));
  color: #dcd0d0;
  margin-bottom: calc(0.3rem * var(--scale-factor)); /* Reducido de 0.4rem a 0.3rem */
  text-transform: uppercase;

  /* Permitir múltiples líneas y mostrar el título completo */
  white-space: normal;
  word-wrap: break-word; /* Opcional: para manejar palabras largas */

  /* Eliminar la restricción de altura */
  max-height: none;

  /* Eliminar la transición si ya no es necesaria */
  transition: none;

  /* Asegurar que el texto se alinee correctamente */
  text-align: center;

  /* Reducir el espacio entre líneas */
  line-height: 1.1; /* Ajustado de 1.2 a 1.1 */
}

.platform {
  font-size: calc(0.9rem * var(--scale-factor));
  color: #a0a0a0; /* Color secundario para la plataforma */
  margin-bottom: calc(0.5rem * var(--scale-factor));
}

.gift-card-price {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  font-size: calc(1.1rem * var(--scale-factor));
  color: #88D66C;
  font-weight: bold;
  margin-top: calc(1rem * var(--scale-factor)); /* Espacio desde el título */
}

/* Precio original tachado */
.original-price {
  text-decoration: line-through;
  color: #B5CDE2FF; /* Ajusta el color según tu diseño */
  margin-bottom: 4px; /* Espacio inferior */
  font-size: calc(0.9rem * var(--scale-factor));
}

/* Precio con descuento */
.discounted-price {
  color: var(--text-color);
  font-weight: bold;
  font-size: calc(1.4rem * var(--scale-factor));
  margin-bottom: 4px; /* Espacio inferior */
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .recommendations {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(1.5rem * var(--scale-factor));
    margin: auto;
    justify-content: center;
  }

  .gift-card {
    width: 100%;
    max-width: none;
  }

  .gift-card-image {
    height: calc(20rem * var(--scale-factor)); /* Aumentado de 18rem a 20rem */
    object-fit: cover;
    border-top-left-radius: calc(0.5rem * var(--scale-factor));
    border-top-right-radius: calc(0.5rem * var(--scale-factor));
    margin-bottom: calc(0.625rem * var(--scale-factor));
  }

  .gift-card-title {
    font-size: calc(1rem * var(--scale-factor));
    margin-bottom: calc(0.3rem * var(--scale-factor)); /* Consistente con versión de escritorio */
    line-height: 1.1; /* Consistente con versión de escritorio */
  }

  .gift-card-price {
    font-size: calc(1.2rem * var(--scale-factor));
  }
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
  .recommendations {
    grid-template-rows: repeat(2, 1fr);
    grid-gap: calc(0.5rem * var(--scale-factor));
    justify-content: center;
  }

  .gift-card {
    width: 100%;
  }

  .gift-card-image {
    height: calc(10rem * var(--scale-factor)); /* Aumentado de 7.5rem a 10rem */
  }

  .gift-card-title {
    font-size: calc(0.9rem * var(--scale-factor));
    margin-bottom: calc(0.2rem * var(--scale-factor)); /* Ajuste adicional para pantallas pequeñas */
    line-height: 1.1;
  }

  .gift-card-price {
    font-size: calc(1.1rem * var(--scale-factor));
  }
}

.load-time {
  margin-top: 16px;
  font-size: 0.9em;
  color: #ffeb3b; /* Amarillo brillante para resaltar */
  text-align: center;
}
