:root {
  --scale-factor: 0.80; /* 80% del tamaño original */
  --primary-color: #0B0D19;
  --secondary-color: #021526;
  --text-color: #FFFFFF;
  --highlight-color: #00d4ff;
  --accent-color: #88D66C;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'VT323', monospace;
  --transition-speed: 0.3s;
}

.recommendations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(200px * var(--scale-factor)), 1fr));
  gap: calc(1.5rem * var(--scale-factor));
  width: 70%;
  margin: 0 auto 5rem auto; /* Centra el contenedor horizontalmente y agrega margen inferior */
}

.recommendations-gift-cards-container {
  display: contents;
}

.gift-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: calc(300px * var(--scale-factor)); /* Ancho máximo escalado */
  background-color: var(--secondary-color);
  border: calc(0.125rem * var(--scale-factor)) solid rgba(173, 216, 230, 0.2);
  border-radius: calc(0.5rem * var(--scale-factor));
  padding: 1rem; /* Añadido padding para espacio interno */
  text-align: center;
  transition: transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease, border-color var(--transition-speed) ease;
  box-shadow: 0 calc(0.25rem * var(--scale-factor)) calc(0.5rem * var(--scale-factor)) rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
  min-height: calc(20rem * var(--scale-factor));
  background-color: #1A1A2E; /* Color de fondo simplificado */
}

.gift-card:hover {
  transform: translateY(calc(-0.5rem * var(--scale-factor)));
  border-color: var(--highlight-color);
  box-shadow: 0 0 calc(1rem * var(--scale-factor)) rgba(0, 0, 0, 0.5);
}

.gift-card-image {
  width: 100%;
  height: calc(15rem * var(--scale-factor));
  object-fit: cover;
  border-top-left-radius: calc(0.5rem * var(--scale-factor));
  border-top-right-radius: calc(0.5rem * var(--scale-factor));
  display: block;
  transition: transform var(--transition-speed) ease;
  margin-bottom: calc(0.5rem * var(--scale-factor)); /* Añadido margen inferior */
}

.gift-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: calc(1rem * var(--scale-factor));
  padding: calc(0.5rem * var(--scale-factor));
}

.gift-card-title {
  font-size: calc(1rem * var(--scale-factor));
  color: var(--text-color);
  margin-bottom: calc(0.5rem * var(--scale-factor));
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  transition: max-height 0.3s ease; /* Transición más rápida */
}

.gift-card:hover .gift-card-title {
  white-space: normal;
  max-height: calc(3rem * var(--scale-factor)); /* Altura suficiente para mostrar el texto completo */
}

.gift-card-price {
  font-size: calc(1.1rem * var(--scale-factor));
  color: var(--accent-color);
  font-weight: bold;
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .recommendations {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(1rem * var(--scale-factor));
    margin: auto;
    justify-content: center;
  }

  .gift-card {
    max-width: none;
  }

  .gift-card-image {
    height: calc(12rem * var(--scale-factor));
    margin-bottom: calc(0.5rem * var(--scale-factor));
  }

  .gift-card-title {
    font-size: calc(0.9rem * var(--scale-factor));
  }

  .gift-card-price {
    font-size: calc(1rem * var(--scale-factor));
  }
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
  .recommendations {
    grid-template-rows: repeat(2, 1fr);
    grid-gap: calc(0.5rem * var(--scale-factor));
    justify-content: center;
  }

  .gift-card {
    width: 100%;
  }

  .gift-card-image {
    height: calc(10rem * var(--scale-factor));
  }
}
