
/* estilos-compartidos.css */
.random-key-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  padding: 0; /* Eliminamos el padding para permitir banners full-width */
  margin: 0; /* Eliminamos márgenes externos */
}


.random-key-component > * {
  margin: 0; /* Elimina cualquier margen externo */
}

/* estilos-compartidos.css */
/* estilos-compartidos.css */
.banner-container {
  position: relative;
  width: 100vw; /* Ancho completo del viewport */
  left: 50%;
  right: 50%;
  margin-left: -50vw; /* Centrar el banner */
  margin-right: -50vw; /* Centrar el banner */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0; /* Opcional: elimina bordes redondeados para full-width */
  overflow: hidden;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Sombra */
  margin: 0; /* Sin margen */
}


.random-keys-main-dashboard,
.random-keys-most-sold-dashboard {
  margin: 0;
  padding: 0;
}

offers-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem; /* 20px */
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto; /* Permite que el contenedor crezca según el contenido */
}
