<!-- category-items.component.html -->
<div *ngIf="giftCards.length > 0; else noData" class="category-items-container">
  <!-- Indicador de carga -->
  <div *ngIf="isLoading" class="loading-indicator">
    <div class="bars">
      <div class="bar bar1"></div>
      <div class="bar bar2"></div>
      <div class="bar bar3"></div>
      <div class="bar bar4"></div>
      <div class="bar bar5"></div>
    </div>
  </div>

  <!-- Contenido existente de las tarjetas de categoría -->
  <div class="category-item" *ngFor="let card of giftCards" (click)="viewDetails(card)">
    <div class="category-item-image-wrapper">
      <img [src]="card.coverImage" alt="{{ card.name }}" class="category-item-image" />
    </div>
    <div class="category-item-content">
      <h3 class="category-item-title">{{ card.name }}</h3>
      <p class="category-item-price">{{ card.price | currency }}</p>
      <!-- Puedes agregar más detalles aquí si es necesario -->
    </div>
  </div>
</div>
<ng-template #noData>
  <p class="no-data-message">Cargando..</p>
</ng-template>
