/* Contenedor de Recomendaciones con Grid */
.recommendations {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas por defecto */
  grid-gap: 2rem;
  row-gap: 3rem;
  width: 70%;
  border-radius: 0.625rem; /* 10px en rem */
  justify-items: center;
}

.recommendations-gift-cards-container {
  display: contents;
}

.gift-card {
  width: 90%; /* Ocupa todo el espacio de la celda */
  max-width: 15.625rem; /* 250px en rem */
  background-color: rgba(2, 21, 38, 0.8);
  border-radius: 0.625rem; /* 10px en rem */
  border: 0.0625rem solid rgba(255, 255, 255, 0.3); /* 1px en rem */
  padding: 0.9375rem; /* 15px en rem */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5); /* 20px en rem */
}

.gift-card:hover {
  transform: translateY(-0.625rem); /* 10px en rem */
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 1.875rem rgba(255, 255, 255, 0.5); /* 30px en rem */
}

.gift-card-image {
  width: 100%;
  height: 9.375rem; /* 150px en rem */
  object-fit: cover;
  border-radius: 0.625rem; /* 10px en rem */
  margin-bottom: 0.625rem; /* 10px en rem */
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.3); /* 15px en rem */
}

.gift-card-title {
  font-size: 1.3rem;
  color: #00d4ff; /* Neon turquoise text */
  margin-bottom: 0.625rem; /* 10px en rem */
  text-transform: uppercase;
}

.gift-card-price {
  font-size: 1.1rem;
  color: #88D66C; /* Green text */
  font-weight: bold;
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .recommendations {
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2.5rem;
    padding: 2.5rem;
    margin: auto;
    justify-content: center;
  }

  .gift-card {
    width: 100%; /* Asegura que las tarjetas ocupen todo el espacio disponible */
    max-width: none; /* Elimina el tamaño máximo en móviles */
  }

  .gift-card-image {
    height: 9.375rem; /* 150px en rem */
    object-fit: cover;
    border-radius: 0.625rem; /* 10px en rem */
    margin-bottom: 0.625rem; /* 10px en rem */
  }

  .gift-card-title {
    font-size: 1rem;
  }

  .gift-card-price {
    font-size: 1.2rem;
  }
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
  .recommendations {
    grid-template-rows: repeat(2, 1fr); /* Dos columnas en una sola fila */
    grid-gap: 0.5rem; /* 8px en rem */
    justify-content: center;
  }

  .gift-card {
    width: 100%;
  }

  .gift-card-image {
    height: 7.5rem; /* 120px en rem */
  }
}
