.recommendations-gift-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
  grid-template-rows: auto; /* Una fila automática */
  gap: 16px; /* Espacio entre tarjetas */
  padding: 20px;
  max-width: 30%;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.gift-card {
  position: relative;
  width: 9.37rem;
  background: #021526; /* Fondo oscuro retro */
  border: 2px solid #88D66C; /* Bordes del color del texto */
  border-radius: 2px; /* Bordes cuadrados */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
  transition: transform 0.2s;
}

.gift-card:hover {
  transform: scale(1.05);
}

.gift-card-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  background-color: #1A2A40; /* Fondo retro para imágenes */
}

.gift-card-content {
  padding: 10px;
  text-align: center;
  min-height: 80px;
}

.gift-card-title {
  font-size: 0.875rem;
  margin: 5px 0;
  font-weight: bold;
  color: #88D66C; /* Texto en color verde claro */
}

.gift-card-price {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background: #1261A0; /* Azul retro */
  color: var(--primary-color); /* Texto oscuro */
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  box-sizing: border-box;
}

.gift-card-price::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #414141; /* Línea superior */
  position: absolute;
  top: -4px;
  left: 0;
}

@media (max-width: 768px) {
  .recommendations-gift-cards-container {
    grid-template-columns: repeat(1, 1fr); /* Una columna en pantallas pequeñas */
  }

  .gift-cards-container {
    padding: 0;
    margin-top: 20px;
  }
}
