<div [ngClass]="routeClass" class="recommendations">
  <div class="recommendations-gift-cards-container">
    <div *ngFor="let card of giftCards" class="gift-card" (click)="viewDetails(card)">
      <img [src]="card.coverImage" alt="{{ card.name }}" class="gift-card-image">
      <div class="gift-card-content">
        <span class="discount-percentage">15% OFF</span>
        <h3 class="gift-card-title">{{ card.name }}</h3>
        <div class="gift-card-price">
        <span class="original-price">
          {{ (card.priceHNL * 1.15) | currency:'HNL':'symbol':'1.2-2' }}
        </span>
          <span class="discounted-price">
          {{ card.priceHNL | currency:'HNL':'symbol':'1.2-2' }}
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
























