<h2>Recomendados</h2>
<div [ngClass]="routeClass" class="recommendations">
  <div class="recommendations-gift-cards-container">
    <div *ngFor="let card of giftCards" class="gift-card" (click)="viewDetails(card)">
      <img [src]="card.coverImageOriginal" alt="{{ card.name }}" class="gift-card-image">
      <div class="gift-card-content">
        <!-- Mostrar el descuento dinámico -->
        <span class="discount-percentage">{{ card.randomDiscount }}% OFF</span>
        <h3 class="gift-card-title">{{ card.name }}</h3>
        <span class="platform">{{card.platform}}</span>
        <div class="gift-card-price">
          <!-- Precio original calculado -->
          <span class="original-price">
          {{ (card.priceHNL * (1 + (card.randomDiscount || 0) / 100)) | currency:'HNL':'symbol':'1.2-2' }}
        </span>
          <!-- Precio con descuento -->
          <span class="discounted-price">
          {{ card.priceHNL | currency:'HNL':'symbol':'1.2-2' }}
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
























