

.recommendations-gift-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 3fr); /* Dos columnas de igual ancho */
  grid-template-rows: auto auto; /* Dos filas */
  gap: 8px; /* Espacio entre tarjetas */
  padding: 20px;
  margin: -10px;
  max-width: 30%; /* Ajusta el tamaño según sea necesario */
}

.gift-card {
  position: relative;
  width: 9.37rem;
  background: #1c1c1c;
  border: 1px solid #2a2a2a;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

}

.gift-card:hover {
  transform: scale(1.05);
}

.gift-card-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  background-color: #31363F;
}

.gift-card-content {
  padding: 10px;
  text-align: center;
  min-height: 80px;
}

.gift-card-title {
  font-size: 0.875rem;
  margin: 5px 0;
  font-weight: bold;
  color: #fff;
}

.gift-card-price {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background: #ff6b00;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  box-sizing: border-box;
}

.gift-card-price::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #414141;
  position: absolute;
  top: -4px;
  left: 0;
}

@media (max-width: 768px) {
  .highlights-and-giftcards {
    flex-direction: column;
    align-items: center;
  }

  .highlights-carousel, .gift-cards-container {
    max-width: 100%;
  }

  .gift-cards-container {
    padding: 0;
    margin-top: 20px;
  }
}
