/* Contenedor de Recomendaciones con Grid */
.recommendations {
  display: grid;
  grid-template-columns: 2fr 2fr; /* Dos columnas por defecto */
  grid-gap: 2rem;
  row-gap: 3rem;
  width: 70%;
  border-radius: 10px;
  justify-items: center;
}

.recommendations-gift-cards-container {
  display: contents;
}

.gift-card {
  width: 90%; /* Ocupa todo el espacio de la celda */
  max-width: 250px;
  background-color: rgba(2, 21, 38, 0.8);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Glow shadow effect */
}

.gift-card:hover {
  transform: translateY(-10px); /* Floating effect */
  border-color: rgba(255, 255, 255, 0.7); /* Brighten border on hover */
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5); /* Stronger glow effect */
}

.gift-card-image {
  width: 100%;
  height: 150px; /* Fija la altura de la imagen para uniformar el tamaño */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Shadow around image */
}

.gift-card-title {
  font-size: 1.3rem;
  color: #00d4ff; /* Neon turquoise text */
  margin-bottom: 10px;
  text-transform: uppercase; /* Bold space-themed text */
}

.gift-card-price {
  font-size: 1.1rem;
  color: #88D66C; /* Green text */
  font-weight: bold;
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .recommendations {
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2.5rem;
    padding: 2.5rem;
    margin: auto;
    justify-content: center;
  }

  .gift-card {
    width: 100%; /* Asegura que las tarjetas ocupen todo el espacio disponible */
    max-width: none; /* Elimina el tamaño máximo en móviles */
  }

  .gift-card-image {
    height: 150px; /* Mantiene la altura de la imagen en pantallas pequeñas */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .gift-card-title {
    font-size: 1rem;
  }

  .gift-card-price {
    font-size: 1.2rem;
  }
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
  .recommendations {
    grid-template-rows: repeat(2, 2fr);; /* Dos columnas en una sola fila */
    grid-gap: 8px;
    justify-content: center;
  }

  .gift-card {
    width: 100%;
  }

  .gift-card-image {
    height: 120px; /* Ajuste de altura para pantallas más pequeñas */
  }
}
