:root {
  --scale-factor: 0.80; /* 75% del tamaño original */
  --primary-color: #0B0D19;
  --secondary-color: #021526;
  --text-color: #FFFFFF;
  --highlight-color: #00d4ff;
  --accent-color: #88D66C;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'VT323', monospace;
  --transition-speed: 0.3s;
}

.recommendations {
  display: grid;
  grid-template-columns: repeat(2, minmax(calc(200px * var(--scale-factor)), 1fr)); /* Dos columnas con ancho mínimo escalado */
  grid-gap: calc(0.8rem * var(--scale-factor));
  row-gap: calc(0.8rem * var(--scale-factor));
  width: calc(100% * var(--scale-factor)); /* Escalar el ancho total */
  border-radius: calc(0.625rem * var(--scale-factor));
  justify-items: center;
  margin: 0 auto;
}

.recommendations-gift-cards-container {
  display: contents;
}

.gift-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: calc(300px * var(--scale-factor)); /* Ancho máximo escalado */
  background: linear-gradient(135deg, rgba(39, 39, 57, 0.4), rgba(8, 64, 180, 0.4));
  border: calc(0.125rem * var(--scale-factor)) solid rgba(173, 216, 230, 0.2);
  border-radius: calc(0.5rem * var(--scale-factor));
  padding: 0;
  text-align: center;
  transition: transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease, border-color var(--transition-speed) ease;
  box-shadow: 0 calc(0.25rem * var(--scale-factor)) calc(1.25rem * var(--scale-factor)) rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  min-height: calc(20rem * var(--scale-factor));
}

.gift-card::before {
  content: '';
  position: absolute;
  top: calc(-2px * var(--scale-factor));
  left: calc(-2px * var(--scale-factor));
  right: calc(-2px * var(--scale-factor));
  bottom: calc(-2px * var(--scale-factor));
  border-radius: calc(1px * var(--scale-factor));
  background: linear-gradient(135deg,
  rgba(139, 0, 139, 0.8) 20%, /* Dark Magenta */
  rgba(75, 0, 130, 0.8) 20%, /* Indigo */
  rgba(0, 128, 128, 0.8) 40%, /* Dark Cyan */
  rgba(184, 134, 11, 0.8) 60%, /* Dark Goldenrod */
  rgba(25, 25, 112, 0.8) 80%); /* Midnight Blue */
  background-size: 300% 300%;
  z-index: -1;
  animation: animatedBorder 7s ease infinite;
  filter: blur(calc(0px * var(--scale-factor)));
}

@keyframes animatedBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gift-card:hover {
  transform: translateY(calc(-0.625rem * var(--scale-factor)));
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 calc(1.875rem * var(--scale-factor)) rgba(255, 255, 255, 0.5);
}

.gift-card-image {
  width: 100%;
  height: calc(15rem * var(--scale-factor));
  object-fit: cover;
  border-top-left-radius: calc(0.5rem * var(--scale-factor));
  border-top-right-radius: calc(0.5rem * var(--scale-factor));
  display: block;
  transition: transform var(--transition-speed) ease;
}

.gift-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  flex-grow: 1;
  margin-top: calc(1rem * var(--scale-factor));
  padding: calc(1rem * var(--scale-factor));
}

.gift-card-title {
  font-size: calc(1rem * var(--scale-factor));
  color: #dcd0d0;
  margin-bottom: calc(0.625rem * var(--scale-factor));
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: calc(1.5rem * var(--scale-factor)); /* Altura inicial para mostrar solo una línea */
  transition: max-height 0.5s ease; /* Transición para una expansión fluida */
}

.gift-card:hover .gift-card-title {
  white-space: normal; /* Permite que el texto se ajuste en varias líneas */
  max-height: calc(5rem * var(--scale-factor)); /* Altura suficiente para mostrar el texto completo */
}
.gift-card-price {
  font-size: calc(1.1rem * var(--scale-factor));
  color: #88D66C;
  font-weight: bold;
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .recommendations {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(1.5rem * var(--scale-factor));
    margin: auto;
    justify-content: center;
  }

  .gift-card {
    width: 100%;
    max-width: none;
  }

  .gift-card-image {
    height: calc(15rem * var(--scale-factor));
    object-fit: cover;
    border-top-left-radius: calc(0.5rem * var(--scale-factor));
    border-top-right-radius: calc(0.5rem * var(--scale-factor));
    margin-bottom: calc(0.625rem * var(--scale-factor));
  }

  .gift-card-title {
    font-size: calc(1rem * var(--scale-factor));
  }

  .gift-card-price {
    font-size: calc(1.2rem * var(--scale-factor));
  }
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
  .recommendations {
    grid-template-rows: repeat(2, 1fr);
    grid-gap: calc(0.5rem * var(--scale-factor));
    justify-content: center;
  }

  .gift-card {
    width: 100%;
  }

  .gift-card-image {
    height: calc(7.5rem * var(--scale-factor));
  }
}
