<div class="admin-dashboard">
  <!-- Botón de menú hamburguesa solo visible en pantallas pequeñas -->
  <button class="hamburger-button" (click)="toggleModal()" aria-label="Abrir Menú">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Modal del Menú en Pantallas Pequeñas -->
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <span class="close-button" (click)="toggleModal()">&times;</span>
      <h2>Menú de Administración</h2>
      <ul>
        <li>
          <a (click)="selectSection('general'); toggleModal()">
            <i class="fas fa-tachometer-alt"></i> Vista General
          </a>
        </li>
        <li>
          <a (click)="selectSection('clients'); toggleModal()">
            <i class="fas fa-users"></i> Clientes
          </a>
        </li>
        <li>
          <a (click)="selectSection('products'); toggleModal()">
            <i class="fas fa-box"></i> Productos
          </a>
        </li>
        <li>
          <a (click)="selectSection('manual'); toggleModal()">
            <i class="fa-solid fa-clipboard-list"></i> Manual Sales
          </a>
        </li>
        <li>
          <a (click)="selectSection('transactions'); toggleModal()">
            <i class="fas fa-money-check-alt"></i> Transacciones
          </a>
        </li>
        <li>
          <a (click)="selectSection('statistics'); toggleModal()">
            <i class="fas fa-chart-line"></i> Estadísticas
          </a>
        </li>
        <li>
          <a (click)="selectSection('mainScreenGiftCards'); toggleModal()">
            <i class="fa-solid fa-chart-column"></i> Giftcards de inicio
          </a>
        </li>
        <li>
          <a (click)="selectSection('highlights'); toggleModal()">
            <i class="fas fa-lightbulb"></i> Highlights
          </a>
        </li>
        <li>
          <a (click)="selectSection('feedbacks'); toggleModal()">
            <i class="fa-regular fa-comment"> Comment Section</i>
          </a>
        </li>
        <li>
          <a (click)="selectSection('offers'); toggleModal()">
            <i class="fa-solid fa-rectangle-ad"></i> Announcements
          </a>
        </li>
        <li>
        <a>
          <i class="fa-solid fa-wallet"></i> My Wallet
        </a>
        </li>
        <li>
          <a>
            <i class="fa-brands fa-telegram"></i> Message List
          </a>
        </li>
        <li>
          <a>
            <i class="fa-solid fa-file-excel"></i> Billing
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Sidebar para pantallas grandes -->
  <nav class="sidebar" *ngIf="!isSmallScreen">
    <ul>
      <li><a (click)="selectSection('general')" [class.active]="selectedSection === 'general'"><i class="fas fa-tachometer-alt"></i> Vista General</a></li>
      <li><a (click)="selectSection('clients')" [class.active]="selectedSection === 'clients'"><i class="fas fa-users"></i> Clientes</a></li>
      <li><a (click)="selectSection('products')" [class.active]="selectedSection === 'products'"><i class="fas fa-box"></i> Productos</a></li>
      <li><a (click)="selectSection('manual')" [class.active]="selectedSection === 'manual'"><i class="fa-solid fa-clipboard-list"></i> Manual</a></li>
      <li><a (click)="selectSection('transactions')" [class.active]="selectedSection === 'transactions'"><i class="fas fa-money-check-alt"></i> Transacciones</a></li>
      <li><a (click)="selectSection('mainScreenGiftCards')" [class.active]="selectedSection === 'mainScreenGiftCards'"><i class="fa-solid fa-chart-column"></i> giftcards</a></li>
      <li><a (click)="selectSection('statistics')" [class.active]="selectedSection === 'statistics'"><i class="fas fa-chart-line"></i> Estadísticas</a></li>
      <li><a (click)="selectSection('highlights')" [class.active]="selectedSection === 'highlights'"><i class="fas fa-lightbulb"></i> Highlights</a></li>
      <li><a (click)="selectSection('feedbacks')" [class.active]="selectedSection === 'feedbacks'" ><i class="fa-solid fa-comment"></i> Comment Section</a></li>
      <li><a (click)="selectSection('promotions')" [class.active]="selectedSection === 'promotions'" > <i class="fa-solid fa-rectangle-ad"></i> Announcements</a></li>
      <li><a (click)="selectSection('wallet')" [class.active]="selectedSection === 'wallet'"><i class="fa-solid fa-wallet"></i> My Wallet</a>
      <li><a><i class="fa-brands fa-telegram"></i> Message List</a></li>
      <li><a (click)="selectSection('billing')" [class.active]="selectedSection === 'billing'"><i class="fa-solid fa-file-excel"></i> Billing</a></li>
      <li><a (click)="selectSection('sync')" [class.active]="selectedSection === 'sync'"><i class="fa-solid fa-rotate"></i>Sync</a></li>
    </ul>
  </nav>

  <div class="main-wrapper">
    <main class="main-content">
      <!-- Contenido dinámico basado en la pestaña seleccionada -->
      <div *ngIf="selectedSection === 'general'">
        <app-general-view [totalCustomers]="customers"></app-general-view>
      </div>
      <div *ngIf="selectedSection === 'clients'">
        <app-clients (customersChange)="handleCustomersChange($event)"></app-clients>
      </div>
      <div *ngIf="selectedSection === 'products'">
        <app-products></app-products>
      </div>
      <div *ngIf="selectedSection === 'manual'">
        <app-manual-sales></app-manual-sales>
      </div>
      <div *ngIf="selectedSection === 'transactions'">
        <app-transactions></app-transactions>
      </div>
      <div *ngIf="selectedSection === 'statistics'">
        <app-statistics></app-statistics>
      </div>
      <div *ngIf="selectedSection === 'mainScreenGiftCards'">
        <app-main-screen-gift-card-config></app-main-screen-gift-card-config>
      </div>
      <div *ngIf="selectedSection === 'highlights'">
        <app-highlights-config></app-highlights-config>
      </div>
      <div *ngIf="selectedSection === 'feedbacks'">
        <app-feedback-list></app-feedback-list>
      </div>
      <div *ngIf="selectedSection === 'wallet'">
        <app-employee-dashboard></app-employee-dashboard>
      </div>
      <div *ngIf="selectedSection === 'billing'">
        <app-financial-dashboard></app-financial-dashboard>
      </div>
      <div *ngIf="selectedSection === 'promotions'">
        <app-promotion-sender></app-promotion-sender>
      </div>
    </main>
  </div>
</div>
