.admin-dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 15rem;
  background-color: #333;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 1.25rem 0;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.sidebar a i {
  margin-right: 0.625rem;
  font-size: 1.25rem;
}

.sidebar a:hover {
  background-color: #fbcf49;
}

sidebar a i:hover {
  opacity: 1;
}

.sidebar .active {
  background: linear-gradient(90deg, rgba(255, 87, 34, 1) 0%, rgba(255, 193, 7, 1) 50%);
  color: #ffffff;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
}

.main-content {
  flex-grow: 1;
  padding: 1.25rem;
  background-color: #333;
}

.hamburger-btn {
  display: none;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  background-color: #00253d;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}

@media (max-width: 48rem) {
  .hamburger-btn {
    display: block;
  }

  .main-content {
    margin-left: 0;
  }
}
