/* Estilos de la Dashboard */
.admin-dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #00253d; /* Azul oscuro */
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.sidebar.is-collapsed {
  transform: translateX(-250px); /* Ocultar el sidebar cuando está colapsada */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
  background-color: #004466; /* Cambia el color al pasar el mouse */
}
.sidebar a.active {
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(255,193,7,1) 50%);
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sidebar a i {
  margin-right: 10px;
}

/* Botón de hamburguesa para móviles */
.hamburger-btn {
  display: none; /* Oculto por defecto en pantallas grandes */
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #00253d;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.hamburger-btn:focus {
  outline: none;
}

/* Sidebar colapsada en móviles */
.sidebar.is-collapsed {
  transform: translateX(-100%);
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f1f4f9;
}

/* Cajas de métricas clave */
.metrics-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.metric-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.metric-box:hover {
  transform: scale(1.05);
}

/* Estilos individuales para las cards */
.metric-box.locations {
  background-color: #00796b; /* Verde oscuro */
  color: #ffffff;
}

.metric-box.shops {
  background-color: #ffa726; /* Naranja */
  color: #ffffff;
}

.metric-box.products {
  background-color: #d32f2f; /* Rojo */
  color: #ffffff;
}

.metric-box.revenue {
  background-color: #7e57c2; /* Morado */
  color: #ffffff;
}

.metric-box i {
  font-size: 30px;
  margin-bottom: 10px;
}

.metric-box p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

/* Gráficos */
.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.chart-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.chart-box h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    height: 100%;
    z-index: 2;
    transform: translateX(-250px);
  }

  .sidebar.is-collapsed {
    transform: translateX(0); /* Muestra el menú cuando se presiona el botón */
  }

  .hamburger-btn {
    display: block; /* Mostrar botón hamburguesa en móviles */
  }

  .main-content {
    margin-left: 0; /* Elimina el margen del panel en móviles */
  }
}
