<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
  <h3>Enter your password to confirm</h3>
  <form (ngSubmit)="updatePersonalInfo()">
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" (input)="validatePassword()" required>
    <div *ngIf="errorMessage">
      <small class="error">{{ errorMessage }}</small>
    </div>
    <button type="submit" (click)="updatePersonalInfo()">Confirm</button>
    <button type="button" (click)="closeModal()">Cancel</button>
  </form>
</div>
