.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0B0D19;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  color: #E1E6F1;
  border: 2px solid #1261A0;
}

button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #1261A0;
  color: #E1E6F1;
  cursor: pointer;
}

button:hover {
  background-color: #1D4B8F;
}

.error {
  color: #ff4d4d;
}
