.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0B0D19;
  padding: 40px; /* Incrementa el padding para hacerlo más grande */
  border-radius: 12px; /* Aumenta el radio del borde */
  z-index: 1001;
  color: #E1E6F1;
  border: 2px solid #1261A0;
  width: 400px; /* Ancho del modal */
  max-width: 90%; /* Para dispositivos más pequeños */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Sombra para darle más profundidad */
}

.modal-content h3 {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.modal-content input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px; /* Espacio extra para separar el campo de los botones */
  border-radius: 8px;
  border: 2px solid #1D4B8F;
  background-color: #12223C;
  color: #E1E6F1;
  font-size: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Espacio entre los botones y el campo de entrada */
  margin-left: 10px;
}

button {
  padding: 12px 20px; /* Botones más grandes */
  border-radius: 8px;
  border: none;
  background-color: #1261A0;
  color: #E1E6F1;
  cursor: pointer;
  font-size: 1rem; /* Aumenta el tamaño de la fuente */
  margin-left: 10px;
}

button:hover {
  background-color: #1D4B8F;
}

.error {
  color: #ff4d4d;
  font-size: 0.9rem;
}
