:root {
  --primary-color: #0B0D19;
  --secondary-color: #021526;
  --text-color: #FFFFFF;
  --highlight-color: #00d4ff;
  --accent-color: #88D66C;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'VT323', monospace;
  --transition-speed: 0.3s;
  --scale-factor: 0.75; /* 75% del tamaño original */
}

/* Estilos Globales */
body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: var(--text-color);
}

.graph-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#graphCanvas {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.home-container {
  max-width: 90rem; /* O el valor que hayas elegido */
  margin: 0 auto;
  padding: 6rem 1.5rem 2rem; /* Añadido 6rem de padding-top (equivalente a la altura de la navbar + espacio adicional) */
}

/* Estilos del Banner */
.banner {
  width: 100%;
  height: 400px; /* Ajusta la altura según tus necesidades */
  background-image: url('/assets/fortnite.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-align: center;
  position: relative;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Superposición para mejorar la legibilidad del texto */
}

.banner h1 {
  font-size: 3rem;
  z-index: 1;
  margin: 0;
}

.banner p {
  font-size: 1.5rem;
  z-index: 1;
}

.gift-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

/* Sección de Destacados y Recomendaciones */
.highlight-recommendations {
  display: flex;
  gap: 1.5rem;
  position: relative;
  z-index: 2; /* Asegura que esté por encima del banner */
  margin-top: -23.5rem; /* Ajusta este valor para controlar la superposición */
  /* Puedes usar una unidad relativa si prefieres */
  /* Por ejemplo: margin-top: -10vh; */
}

.highlights-section,
.recommendations-section {
  flex: 0.75; /* Reducción proporcional en flex */
}

.highlights-section {
  display: flex;
  justify-content: center;
}

.recommendations-section {
  display: flex;
  justify-content: center;
  margin-left: -1.5rem; /* Mueve la sección 1.5rem hacia la izquierda */
}

/* Tarjetas principales */
.main-gift-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

/* Filtros y Tarjetas Filtradas */
.filter-giftcard-container {
  display: flex;
  gap: 1.5rem; /* Reducción de 2rem a 1.5rem */
}

.filter-section {
  flex: 1;
}

.giftcard-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Estilo para el contenedor del Free Fire Gift Card */
.single-gift-card {
  display: flex;
  justify-content: center;
}

/* Estilo para el grid de Kinguin Gift Cards */
.gift-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.125rem;
  width: 100%;
  margin-top: -5rem; /* Ajusta el valor para mover el contenedor hacia arriba */
}


/* Botón de Filtros para Móvil */
.filter-button {
  display: none;
}

.modal {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {

  .banner {
    height: 250px;
  }

  .banner h1 {
    font-size: 2rem;
  }

  .banner p {
    font-size: 1rem;
  }

  .highlight-recommendations {
    flex-direction: column;
    align-items: center;
    margin-top: -100px; /* Ajusta para dispositivos móviles */
  }

  .filter-giftcard-container {
    flex-direction: column;
  }

  .filter-section {
    display: none;
  }

  .filter-button {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
  }

  .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    position: relative;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .modal {
    display: none;
  }

  .filter-button {
    display: none;
  }
}
