.inicio-container {
  text-align: center;
  margin-top: 50px;
}

.inicio-container h2 {
  color: #4CAF50;
}

.inicio-container p {
  font-size: 18px;
}

.gift-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

.gift-card {
  flex: 1;
  margin: 0 10px;
}
