/* Contenedor general */

.graph-container {
  position: absolute; /* Cambiado de fixed a absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ocupará todo el contenido */
  z-index: -1; /* Detrás del contenido */
}

#graphCanvas {
  width: 100%;
  height: 100%; /* Dejar que el canvas ocupe la altura del contenido */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #0B0D19;
}
.home-container {
  display: grid;
  grid-template-columns: 1fr; /* Una columna por defecto */
  grid-gap: 25%;
  width: 100%;
  padding: 20px;
  background-color: var(--primary-color);
  justify-items: center; /* Centra el contenido en la columna */
  margin-top: 10rem;
}

.highlight-recommendations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  width: 100%;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

 /*Sección de Highlights*/
.highlights-section {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px; /* Limita el ancho máximo */
  display: grid;
  justify-items: center;
}

/*!* Sección de Recomendaciones *!*/
.recommendations-section {
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  max-width: 600px; /* Limita el ancho máximo */
  display: grid;
  margin-left: 2rem;
  justify-items: center;
}

/* Estilo de las tarjetas de Recomendaciones */
.recommendations .gift-card {
  width: 100%;
  max-width: 250px;
  background-color: rgba(2, 21, 38, 0.8);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.recommendations .gift-card:hover {
  transform: translateY(-10px);
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.recommendations .gift-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.recommendations .gift-card-title {
  font-size: 1.3rem;
  color: #00d4ff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.recommendations .gift-card-price {
  font-size: 1.1rem;
  color: #88D66C;
  font-weight: bold;
}

/* Sección de Gift Cards Principales */
.main-gift-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adaptable */
  grid-gap: 20px;
  width: 100%;
}

/* Gift Cards Principales Estilos */
.main-gift-cards .gift-card {
  background-color: rgba(2, 21, 38, 0.8);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.main-gift-cards .gift-card:hover {
  transform: translateY(-10px);
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.main-gift-cards .gift-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.main-gift-cards .gift-card-title {
  font-size: 1.3rem;
  color: #00d4ff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.main-gift-cards .gift-card-price {
  font-size: 1.1rem;
  color: #88D66C;
  font-weight: bold;
}

.filter-giftcard-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem;
  width: 100%;
  margin-top: 20px;
}


.filter-section {
  padding: 15px;
  border-radius: 8px;
}

.giftcard-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.filters-container {
  background-color: #021526;
  border: 2px solid #88D66C;
  padding: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  color: #88D66C;
  font-family: 'Press Start 2P', cursive;
  width: 100%;
}

.filters-container h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1rem;
  color: #FB773C;
}


@media (max-width: 768px) {
  /* Mostrar el botón de filtrar solo si está en etapa de búsqueda */
  .toggle-filter-btn {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    padding: 12px 20px;
    background-color: #6EC1FF;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 255, 255, 0.7);
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
  }

  .toggle-filter-btn.hidden {
    display: none; /* Ocultar el botón cuando no está en búsqueda */
  }

  .giftcard-section {
    margin-top: 60px;
    grid-template-columns: repeat(2, 1fr); /* Mantener un grid 2x2 */
    grid-gap: 10px;
    width: 100%;
  }

  .gift-card {
    min-width: calc(50% - 10px); /* Dos columnas por fila en pantallas pequeñas */
  }

  .gift-card-image {
    height: 120px;
  }

  /* El filtro estará oculto inicialmente en pantallas móviles */
  .filter-section {
    display: none;
  }

  /* Filtro visible al presionar el botón de Filtrar */
  .mobile-filter-visible {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); /* Oscurecer el fondo para resaltar el filtro */
    z-index: 200;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    overflow-y: auto; /* Hacer scroll si es necesario */
  }

  /* Cuando el filtro está visible, las giftcards deben estar debajo */
  .filter-giftcard-container {
    position: relative;
    z-index: 50;
  }
}

@media (max-width: 480px) {
  .giftcard-section {
    grid-template-columns: 1fr; /* Mostrar gift cards en una sola columna en pantallas muy pequeñas */
  }

  .gift-card {
    min-width: 100%;
  }

  .gift-card-image {
    height: 100px;
  }

  .toggle-filter-btn {
    bottom: 20px;
    right: 20px;
    font-size: 0.9rem;
  }

  .filters-container {
    max-width: 100%;
    padding: 15px;
  }
}
