<!-- home.component.html -->
<div class="graph-container">
  <canvas id="graphCanvas"></canvas>
</div>

<!-- Contenedor del Banner -->
<div [ngClass]="{ 'banner' : showHighlightsAndRecommendations, '': !showHighlightsAndRecommendations}">
</div>

<div class="home-container">
  <div class="gift-cards-wrapper">

    <!-- Sección de Destacados y Recomendaciones -->
    <div class="highlight-recommendations" *ngIf="showHighlightsAndRecommendations">
      <div class="highlights-section">
        <app-highlights></app-highlights>
      </div>
      <div class="recommendations-section">
        <app-recommendations></app-recommendations>
      </div>
    </div>

    <app-banner class="app-banner" *ngIf="showHighlightsAndRecommendations"></app-banner>

    <!-- Tarjetas principales -->
    <div *ngIf="showHighlightsAndRecommendations" class="main-gift-cards">
      <app-kinguin-gift-cards></app-kinguin-gift-cards>
    </div>

    <!-- Filtros y Resultados -->
    <div *ngIf="!showHighlightsAndRecommendations" class="filter-giftcard-container">
      <!-- Filtros para pantallas grandes -->
      <div *ngIf="!isSmallScreen" class="filter-section">
        <app-filters
          (filteredResults)="handleFilteredResults($event)"
          (filtersApplied)="applyFilters()">
        </app-filters>
      </div>

      <!-- Botón y Modal de Filtros para pantallas pequeñas -->
      <button class="filter-button" *ngIf="isSmallScreen" (click)="openFilterModal()">
        <span class="material-symbols-outlined">tune</span>
      </button>

      <div class="modal" *ngIf="isFilterVisible && isSmallScreen">
        <div class="modal-content">6
          <span class="close" (click)="closeFilterModal()">&times;</span>
          <app-filters
            (filteredResults)="handleFilteredResults($event)"
            (filtersApplied)="applyFilters()">
          </app-filters>
        </div>
      </div>

      <!-- Indicador de Carga -->
      <div *ngIf="isLoading" class="loading-indicator">
        <div class="bars">
          <div class="bar bar1"></div>
          <div class="bar bar2"></div>
          <div class="bar bar3"></div>
          <div class="bar bar4"></div>
          <div class="bar bar5"></div>
        </div>
      </div>

      <div class="giftcard-section" *ngIf="!isLoading">
        <div [ngClass]="{ 'gift-cards-grid-big' : !isSmallScreen, 'gift-cards-grid-small': isSmallScreen}">
          <app-kinguin-gift-cards [giftCardsInput]="currentGiftCards"></app-kinguin-gift-cards>
        </div>
      </div>
    </div>
  </div>
  <app-offers-banner *ngIf="showHighlightsAndRecommendations"></app-offers-banner>
  <app-inferior-filter></app-inferior-filter>
</div>
