<div class="home-container">
  @if (showHighlightsAndRecommendations) {
    <div class="banner" aria-label="GeekyFriki Premium Digital Marketplace">
    </div>
  }

  <div class="gift-cards-wrapper">
    @if (showHighlightsAndRecommendations) {
      <div class="highlights-section-wrapper">
        <h2 class="section-header snap-title" style="font-size: 1.5rem;">Weekly Highlights</h2>
        <app-highlights></app-highlights>
      </div>

      <div class="recommendations-section-wrapper">
        <h2 class="section-header snap-title" style="font-size: 1.5rem;">Recommended for You</h2>
        <app-recommendations></app-recommendations>
      </div>

      <app-banner class="app-banner"></app-banner>

      <div class="trending-banner-container">
        <img src="assets/BannerTendencias.jpg" alt="Trending Now Banner" class="trending-banner">
        <div class="main-gift-cards">
          <app-kinguin-gift-cards></app-kinguin-gift-cards>
        </div>
      </div>
    }

    @if (!showHighlightsAndRecommendations) {
      <div class="filter-giftcard-container">
        @if (!isSmallScreen) {
          <div class="filter-section">
            <app-filters (filteredResults)="handleFilteredResults($event)" (filtersApplied)="applyFilters()"
                         [searchQuery]="searchQuery">
            </app-filters>
          </div>
        }

        @if (isSmallScreen) {
          <button class="filter-button" (click)="openFilterModal()">
            <span class="material-symbols-outlined">tune</span>
          </button>
        }

        @if (isFilterVisible && isSmallScreen) {
          <div class="modal">
            <div class="modal-content">
              <span class="close" (click)="closeFilterModal()">&times;</span>
              <app-filters (filteredResults)="handleFilteredResults($event)" (filtersApplied)="applyFilters()">
              </app-filters>
            </div>
          </div>
        }

        @if (isLoading) {
          <div class="loading-indicator">
            <div class="bars">
              <div class="bar bar1"></div>
              <div class="bar bar2"></div>
              <div class="bar bar3"></div>
              <div class="bar bar4"></div>
              <div class="bar bar5"></div>
            </div>
          </div>
        } @else {
          <div class="giftcard-section">
            <h2 class="section-header snap-title">Search Results</h2>
            <div [ngClass]="{ 'gift-cards-grid-big' : !isSmallScreen, 'gift-cards-grid-small': isSmallScreen}">
              <app-kinguin-gift-cards [giftCardsInput]="currentGiftCards"></app-kinguin-gift-cards>
            </div>
          </div>
        }
      </div>
    }
  </div>

  @if (showHighlightsAndRecommendations) {
    <app-offers-banner></app-offers-banner>
  }

  <app-inferior-filter></app-inferior-filter>
</div>
