body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  background-color: #0B0D19;
}

.graph-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#graphCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.admin-panel-container {
  padding: 20px;
  background-color: #0B0D19;
  color: #E1E6F1;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #1261A0;
  border-radius: 8px;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

h1 {
  color: #FB773C;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.admin-navigation {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.admin-navigation button {
  background-color: #1261A0;
  color: #E1E6F1;
  border: 2px solid #1D4B8F;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Courier New', Courier, monospace;
}

.admin-navigation button:hover {
  background-color: #1D4B8F;
}

.admin-section {
  padding: 20px;
  background-color: #12223C;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
