<div class="clients-dashboard">

  <div class="top-controls">
    <input type="text" placeholder="Buscar cliente..." [(ngModel)]="searchQuery" class="search-bar" />
    <button class="add-client-btn" (click)="addClient()">+ Nuevo Cliente</button>
  </div>

  <div class="main-content">
    <div class="clients-list">
      <h2>Clientes</h2>
      <div class="client-cards-list">
        <div *ngFor="let client of filteredUsers" class="client-card" (click)="showClientDetails(client)">
          <div class="client-info">
            <h3 class="client-name">{{ client.name }}</h3>
            <p>Email: {{ client.email }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="client-details" *ngIf="selectedClient">
      <h2>Detalles de {{ selectedClient.name }}</h2>
      <div class="client-info-details">
        <p><strong>Email:</strong> {{ selectedClient.email }}</p>
<!--        <p><strong>Última actividad:</strong> {{ selectedClient. }} min</p>-->
        <button class="edit-btn" (click)="editClient(selectedClient)">Editar Cliente</button>
        <button class="delete-btn" (click)="deleteClient(selectedClient)">Eliminar Cliente</button>
      </div>

      <!-- Transacciones -->
<!--      <div class="transactions-list">-->
<!--        <h3>Transacciones</h3>-->
<!--        <div class="transaction-table">-->
<!--          <div class="transaction-header">-->
<!--            <span>ID de Transacción</span>-->
<!--            <span>Fecha</span>-->
<!--            <span>Descripción</span>-->
<!--            <span>Estado</span>-->
<!--            <span>Monto</span>-->
<!--          </div>-->

<!--          <div *ngFor="let transaction of visibleTransactions" class="transaction-row">-->
<!--            <span>{{ transaction.id }}</span>-->
<!--            <span>{{ transaction.timestamp | date: 'dd-MM-yyyy' }}</span>-->
<!--            <span>{{ transaction.description }}</span>-->
<!--            <span class="transaction-status" [ngClass]="transaction.status">{{ transaction.status }}</span>-->
<!--            <span>{{ transaction.amount | currency }}</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <app-transactions></app-transactions>
    </div>
  </div>
</div>

