<div class="clients-dashboard">

  <div class="top-controls">
    <input type="text" placeholder="Buscar cliente..." [(ngModel)]="searchQuery" class="search-bar" />
    <button class="add-client-btn" (click)="addClient()">+ Nuevo Cliente</button>
  </div>

  <div class="main-content">
    <div class="clients-list">
      <h2>Clientes</h2>
      <div class="client-cards-list">
        <div *ngFor="let client of filteredUsers" class="client-card" (click)="showClientDetails(client)">
          <div class="client-info">
            <h3 class="client-name">{{ client.name }}</h3>
            <p>Email: {{ client.email }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="client-details" *ngIf="selectedClient">
      <h2>Detalles de {{ selectedClient.name }}</h2>
      <div class="client-info-details">
        <p><strong>Email:</strong> {{ selectedClient.email }}</p>
<!--        <p><strong>Última actividad:</strong> {{ selectedClient. }} min</p>-->
        <button class="edit-btn" (click)="editClient(selectedClient)">Editar Cliente</button>
        <button class="delete-btn" (click)="deleteClient(selectedClient)">Eliminar Cliente</button>
      </div>
      <app-transactions [selectedUserFromClients]="selectedClient"></app-transactions>
    </div>
  </div>
</div>

