.personal-info, .addresses {
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.personal-info h3, .addresses h3 {
  color: var(--highlight-color);
  margin-bottom: 10px;
}

.personal-info label, .addresses label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.personal-info input[type="text"],
.personal-info input[type="email"],
.personal-info input[type="tel"],
.addresses input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--light-accent-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--text-color);
}


button {
  background-color: var(--highlight-color);
  border: none;
  padding: 10px 20px;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-color);
}


.invalid {
  border-color: #FF6B6B; /* Red border for invalid inputs */
}

.error {
  color: #FF6B6B;
  font-size: 0.875rem;
}

.success {
  color: #0B8494;
  font-size: 0.875rem;
}


/* Estilos para la ventana flotante */
.modal {
  display: block; /* Cambia a "none" para ocultar */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}


