/* Contenedor principal */
.account-settings-container {
  display: flex;
  flex-direction: column;
}

/* Sidebar de navegación */
.account-sidebar {
  width: 100%; /* 100% para pantallas pequeñas */
  background-color: #00253d;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Para pantallas grandes */
@media (min-width: 768px) {
  .account-settings-container {
    flex-direction: row; /* Mostrar la barra lateral y el contenido en filas */
  }

  .account-sidebar {
    width: 250px; /* Ajustar el ancho de la barra lateral */
    margin-bottom: 0; /* Eliminar el margen inferior */
  }
}

.account-nav ul {
  list-style: none;
  padding: 0;
}

.account-nav .nav-item {
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 0;
}

/* Contenido de la cuenta */
.account-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f1f4f9;
  margin-left: 0;
}

.main-box {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #ff5722;
  margin-bottom: 20px;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.field label {
  flex-basis: 150px;
  color: #333;
  font-weight: bold;
}

/* Para pantallas más pequeñas, hacer que las etiquetas y los campos de entrada se apilen */
@media (max-width: 767px) {
  .field {
    flex-direction: column;
    align-items: flex-start;
  }

  .field label {
    flex-basis: auto;
    margin-bottom: 5px;
  }

  .field input {
    width: 100%;
  }
}

.field span,
.field input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.field input {
  background-color: #fff;
}

.field i {
  margin-left: 10px;
  cursor: pointer;
  color: #666;
}

.field i:hover {
  color: #ff5722;
}

button {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e64a19;
}

/* Estilo del gradiente en la selección de la sidebar */
.sidebar .nav-item.active {
  background: linear-gradient(90deg, #ff5722, #ff9100);
  color: #fff;
}

.sidebar .nav-item.active:hover {
  background: linear-gradient(90deg, #ff9100, #ff5722);
}
