<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    #animated-text {
      visibility: hidden;
    }
  </style>
</head>
<body>
<div class="graph-container">
  <canvas id="graphCanvas"></canvas>
  <div class="register-container">
    <h2 id="animated-text" class="register-title">Welcome to Astralis!</h2>
    <p>Let's begin the adventure</p>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group" *ngIf="currentStep >= 1">
        <label for="name">Enter your name*</label>
        <input type="text" id="name" [(ngModel)]="name" name="name"
               (keydown.enter)="checkNameAndNextStep()"  #nameInput required>
      </div>

      <div class="form-group" *ngIf="currentStep >= 2">
        <label for="email">Enter your email*</label>
        <div class="input-container">
          <input type="email" id="email" #emailInput [(ngModel)]="email" name="email"
                 (blur)="emailTouched = true; isEmailValid()"
                 (keyup)="onEmailKeyUp()"
                 (keydown.enter)="checkEmailAndNextStep()"
                 required>
          <span *ngIf="emailTouched && emailValid && email.length > 0" class="valid-feedback">✔</span>
          <span *ngIf="emailTouched && !emailValid && email.length > 0" class="invalid-feedback">✘</span>
        </div>
      </div>

      <div class="form-group" *ngIf="currentStep >= 3">
        <label for="password">Enter your password*</label>
        <div class="input-container">
          <input type="password" id="password" #passwordInput [(ngModel)]="password" name="password"
                 (blur)="onPasswordBlur()"
                 (keydown.enter)="onSubmit()"
                 (keyup)="onPasswordKeyUp(); calculatePasswordStrength()"
                 required>
          <span *ngIf="passwordTouched && passwordValid" class="valid-feedback">✔</span>
          <span *ngIf="passwordTouched && !passwordValid" class="invalid-feedback">✘</span>

          <div [(ngModel)]="password" *ngIf="password.length > 0" class="password-strength-container">
            <div class="password-strength-bar" [ngClass]="passwordStrengthLevel"></div>
          </div>
          <p [(ngModel)]="password" *ngIf="password.length > 0" class="password-strength-text">{{ passwordStrengthText }}</p>
        </div>
      </div>

      <button type="button" *ngIf="currentStep < 3" (click)="nextStep()">Continue</button>
      <button type="submit" *ngIf="currentStep === 3">Register</button>


    </form>

    <p *ngIf="currentStep === 3">Do you already have an account? <a routerLink="/login">Sign in →</a>.</p>
    <p *ngIf="message" [ngClass]="messageClass">{{ message }}</p>
  </div>
</div>

</body>
</html>
