/* Contenedor Principal */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  z-index: 0;
  overflow: hidden; /* Oculta cualquier borde blanco alrededor del banner */
}


.banner {
  position: absolute;
  top: 0;
  left: -10px;
  width: 115%; /* Aumenta el ancho ligeramente */
  height: 105%; /* Aumenta la altura ligeramente */
  background-image: url('../../assets/488e0731-ac0e-4347-95e1-97e2987f2151.webp');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(5px);
  z-index: -1;
}


.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad aquí */
  z-index: 1; /* Asegura que esta superposición esté encima de la imagen de fondo */
}

.banner-content {
  text-align: center;
  z-index: 1;
}

.banner-title {
  font-size: 3rem;
  font-family: 'Saira Stencil One', cursive;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

/* Contenedor de Registro */
.register-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 25rem;
  padding: 1.25rem;
  background-color: rgba(2, 21, 38, 0.8);
  border: 0.125rem solid #1261A0;
  border-radius: 0.9375rem;
  color: #88D66C;
  text-align: center;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.5);
  z-index: 9;
}

/* Resto de los estilos permanecen igual */
.register-title {
  color: #00d4ff;
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 0.9375rem;
}

.form-group label {
  color: #88D66C;
  font-size: 1rem;
  margin-bottom: 0.3125rem;
  text-align: center;
}

.input-container {
  width: 100%;
  max-width: 18.75rem;
  display: flex;
  align-items: center;
  position: relative;
}

.input-container input {
  flex: 1;
  padding: 0.75rem;
  padding-right: 2.5rem;
  border: 0.125rem solid #88D66C;
  background-color: #0B0D19 !important;
  color: #88D66C !important;
  font-size: 1rem;
  outline: none;
  border-radius: 0.625rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-container input:focus {
  border-color: #00d4ff;
  box-shadow: 0 0 0.3125rem rgba(0, 212, 255, 0.5);
}

.valid-feedback,
.invalid-feedback {
  margin-left: 0.5rem;
  font-size: 1.25rem;
}

.valid-feedback {
  color: #88D66C; /* Verde */
}

.invalid-feedback {
  color: #EB3678; /* Rojo */
}

/* Botones */
.button-group {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 18.75rem;
}

button {
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  border: 0.125rem solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.625rem;
  display: inline-block;
  margin: 0.5rem;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 1);
}

button:active {
  background-color: #12223C;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0.3125rem rgba(255, 255, 255, 0.5);
}

/* Mensajes de estado */
.success-message {
  color: #88D66C;
  margin-top: 0.9375rem;
}

.error-message {
  color: #EB3678;
  margin-top: 0.9375rem;
}

/* Barra de fortaleza de la contraseña */
.password-strength-container {
  width: 100%;
  max-width: 18.75rem;
  margin-top: 0.5rem;
}

.password-strength-bar {
  width: 100%;
  height: 0.5rem;
  background-color: #ccc;
  border-radius: 0.3125rem;
  overflow: hidden;
  margin-bottom: 0.3125rem;
}

.password-strength-bar.low-strength {
  background-color: #EB3678; /* Rojo */
  width: 33%;
}

.password-strength-bar.medium-strength {
  background-color: #FFD700; /* Amarillo */
  width: 66%;
}

.password-strength-bar.high-strength {
  background-color: #88D66C; /* Verde */
  width: 100%;
}

.password-strength-text {
  text-align: left;
  color: #fff;
  font-size: 0.875rem;
}

.toggle-password {
  position: absolute;
  right: 0.5rem;
  top:30%; /* Ajusta el ícono ligeramente más arriba */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #6c757d; /* Color del icono */
}

.toggle-password:hover {
  color: #000; /* Cambiar el color al pasar el mouse */
}

/* Estilos responsivos */
@media (max-width: 480px) {
  .container {
    padding: 0 1rem;
  }

  .register-container {
    width: 90%;
    padding: 0.9375rem;
  }

  .register-title {
    font-size: 1.2rem;
  }

  .form-group input {
    font-size: 0.9rem;
    padding: 0.625rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.625rem 0.9375rem;
  }

  .password-strength-text {
    font-size: 0.75rem;
  }

  /* Ajustes para el Banner en móviles */
  .banner {
    background: rgba(2, 21, 38, 0.6); /* Mantenemos la superposición */
  }

  .banner-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .register-container {
    width: 80%;
  }

  .register-title {
    font-size: 1.3rem;
  }

  .form-group input {
    font-size: 1rem;
    padding: 0.75rem;
  }

  button {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }

  /* Ajustes para el Banner en tablets */
  .banner-title {
    font-size: 2rem;
  }
}
