<div class="transactions-container">
  <h2 class="section-title">Transacciones</h2>

  <div class="filters" >
    <mat-form-field class="dropdown" appearance="fill" style="--mat-mdc-form-field-fill-border-color: #ff7a00; color: #ff7a00;" >
      <mat-label >Customers</mat-label>
      <mat-select [formControl]="usersControl" panelClass="custom-panel" style="color: #ff7a00; border-color: #ff7a00;"
                  (selectionChange)="onUserSelected($event)" [disabled]="blockDropDown">
        <mat-option *ngFor="let user of users" [value]="user.id" [disabled]="blockDropDown"
                    [ngStyle]="{'color': (String(usersControl.value) === String(user.id) ? '#ff7a00' : '#fff')}">
          {{ user.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <input type="date" placeholder="Desde" [(ngModel)]="startDate">
    <input type="date" placeholder="Hasta" [(ngModel)]="endDate">
    <button (click)="filterTransactions()">Filtrar</button>
    <button (click)="exportTransactions()">Exportar CSV</button>
  </div>

  <!-- Tabla de Transacciones -->
  <div class="transaction-table">
    <div class="transaction-header">
      <span>ID de Transacción</span>
      <span>Fecha</span>
      <span>Descripción</span>
      <span>Estado</span>
      <span>Monto</span>
    </div>

    <div *ngFor="let transaction of displayedTransactions" class="transaction-row">
      <span>{{ transaction.id }}</span>
      <span>{{ transaction.timestamp | date: 'dd-MM-yyyy' }}</span>
      <span>{{ transaction.description }}</span>
      <td>
        <span [ngClass]="'transaction-status ' + transaction.status">{{ transaction.status }}</span>
      </td>
      <span>{{ transaction.amount | currency }}</span>
    </div>
  </div>

    <div class="pagination">
      <button (click)="goToPage(1)">First</button>
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span *ngFor="let page of [currentPage-2, currentPage-1, currentPage, currentPage+1, currentPage+2]">
        <button *ngIf="page > 0 && page <= totalPages" (click)="goToPage(page)" [class.active]="page === currentPage">{{ page }}</button>
      </span>
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
      <button (click)="goToPage(totalPages)">Last</button>
    </div>

</div>
